table {
    cursor: pointer;
}

.scrolltable {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.scrolltableDemande {
    max-height: 275px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

table th {
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250);  
}

table > tbody > tr:last-child > td {
    border :none;
}

table {
    background-color: rgb(254, 254, 254);
}

.rounded-top-right {
    border-bottom-right-radius: 0rem;
    border-left: none !important;
}
.rounded-top-left {
    border-bottom-left-radius: 0rem !important ;
    border-right: none !important;
}

.border-not-rounded {
    border-bottom-left-radius: 0rem !important ;  
    border-bottom-right-radius: 0rem;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-green{
    background-color: #e8f7e2 !important;
    border-color: #e8f7e2 !important;
}
.btn-green:hover{
    background-color: #d6e9ce !important;
    border-color: #d6e9ce !important;
}

.btn-red{
    background-color: #f7e3e2 !important;
    border-color: #f7e3e2 !important;
}
.btn-red:hover{
    background-color: #e9cece !important;
    border-color: #e9cece !important;
}

.tableEyeHover > tbody> tr > .isHover{
    display: none;
    color: black;
}

.tableEyeHover > tbody> tr:hover > .isHover {
    display: table-cell;
}

.tableEyeHover > tbody> tr > .isNotHover{
    display: table-cell;
}

.tableEyeHover > tbody> tr:hover > .isNotHover {
    display: none;  
}

.eye {
    color : #5900ff;
}

.blur{
    filter :blur(1px)
}

.zind {
    z-index: 15;
}

.hoverObject:hover {
    background-color: rgb(240, 240, 240);
}

.bg-edition{
    background: rgba(255, 255, 255, 0.60);
}

.lh-xl{
    line-height: 2.5rem;
}

.spinnerWaiting{
    position: relative;
    text-align: center;
}

.spinnerWaiting .spinner-grow:nth-child(1){
    animation-delay: 0.1s;
}
.spinnerWaiting .spinner-grow:nth-child(2){
    animation-delay: 0.2s;
}
.spinnerWaiting .spinner-grow:nth-child(3){
    animation-delay: 0.3s;
} 

.spinner-grow {
    margin : 0 .5rem 0 .5rem;
}


.table-hover > tbody > .td-red > *{
    background-color: #FEF2F2 !important;
    border-color: #FEF2F2 !important;
    --bs-table-accent-bg: none;
}

.table-hover > tbody > .td-red:hover > * {
    background-color: #FEE2E2 !important;
    --bs-table-accent-bg: none;
}


.table-hover > tbody > .table-active.td-red > * {
    background-color: #FECACA !important;
    --bs-table-accent-bg: none;
}

.table-hover > tbody > .table-active.td-red:hover > * {
    background-color: #FCA5A5 !important;
    --bs-table-accent-bg: none;
}

.table-hover > tbody > .td-green > *{
    background-color: #F0FDF4 !important;
    border-color: #F0FDF4 !important;
    --bs-table-accent-bg: none;
}

.table-hover > tbody > .td-green:hover > * {
    background-color: #F0FDF4 !important;
    --bs-table-accent-bg: none;
}


.table-hover > tbody > .table-active.td-green > * {
    background-color: #BBF7D0 !important;
    --bs-table-accent-bg: none;
}

.table-hover > tbody > .table-active.td-green:hover > * {
    background-color: #86EFAC !important;
    --bs-table-accent-bg: none;
}

