<div class="container-fluid ">
    <div class="row my-3 px-lg-5">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-xxl-2 col-xl-3 offset-lg-1 col-12">
                    <div class="input-group">
                        <div class="input-group-text col-3">Type</div>
                        <div class="btn-group-vertical col-9 margin-top1 d-none d-lg-block" role="group" aria-label="Type d'objet">
                            <input (change)="selectObject(this.TypeObject.OR)" type="radio" class="btn-check " name="typeObjetRadioL" id="TypeORL" checked>
                            <label class="btn btn-outline-perso" for="TypeORL">Objet repère</label>
                            <input (change)="selectObject(this.TypeObject.Item)" type="radio" class="btn-check" name="typeObjetRadioL" id="TypeItemL" >
                            <label class="btn btn-outline-perso" for="TypeItemL">Item</label>
                            <input (change)="selectObject(this.TypeObject.SI)" type="radio" class="btn-check " name="typeObjetRadioL" id="TypeSIL" >
                            <label class="btn btn-outline-perso" for="TypeSIL"> Sous Item</label>
                        </div>
                        
                        <div class="btn-group-vertical col-9 margin-top1 d-lg-none" aria-label="Type d'objet">
                            <input (change)="selectObject(this.TypeObject.OR)" type="radio" class="btn-check " name="typeObjetRadioM" id="TypeORM" checked>
                            <label class="btn btn-outline-perso no-rounded-top-left" for="TypeORM">Objet repère</label>
                            <input (change)="selectObject(this.TypeObject.Item)" type="radio" class="btn-check" name="typeObjetRadioM" id="TypeItemM" >
                            <label class="btn btn-outline-perso" for="TypeItemM">Item</label>
                            <input (change)="selectObject(this.TypeObject.SI)" type="radio" class="btn-check " name="typeObjetRadioM" id="TypeSIM" >
                            <label class="btn btn-outline-perso no-rounded-bottom-left" for="TypeSIM"> Sous Item</label>
                        </div>
                    </div>
                </div>
                <div class=" offset-xl-1 col-xl-6 col-lg-6 col-xxl-3 col-12">
                    <div class="col-12 mt-3 mt-lg-2 ">
                        <div class="row ">
                            <div class="input-group">
                                <label class="input-group-text col-3 col-lg-2" for="atelierSelect">Atelier</label>
                                <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                                    <option value ="" selected>Sélectionner l'atelier</option>
                                    <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier" style="--bs-bg-opacity: .25;" [ngClass]="{'bg-secondary bg-gradient' : !atelier.actif}">
                                        {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                                    </option>
                                </select>
                            </div> 
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="input-group">
                            <label class="input-group-text col-3" for="atelierSelect">Recherche</label>
                            <input class="form-control" type="text" placeholder="Identifiant" id="search" [(ngModel)]="searchText">
                        </div> 
                    </div>
                </div>
                <div class=" col-lg-6 col-xl-3 col-12 ps-lg-4 ">
                    <div class="row">
                        <div class="col-12 mt-3 mt-lg-2">
                            <div *ngIf="this.objectNow == this.TypeObject.SI" class="input-group">
                                <label class="input-group-text col-3" for="TypeObjetSelect">Type Objet</label>
                                <select (change)=selectTypeObjet($event) class="form-select" id="TypeObjetSelect" aria-label="Default select example" [(ngModel)]="typeOfItemOR">
                                    <option value ="" selected>Sélectionner un objet repère</option>
                                    <option *ngFor="let typeObjet of listeTypeItemOfOR" [value]="typeObjet.idTypeObjet">
                                        {{typeObjet.idTypeObjet}} - {{typeObjet.libelleTypeObjet}}
                                    </option>
                                </select>
                            </div>  
                        </div>
                    </div>
                </div>           
            </div>
        </div>
        <div class="row m-0 p-0"> 
            <ng-container *ngIf="objectNow == 'OR'">
                <div class="col-lg-6 offset-lg-1 col-xs-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4" scope="col-4">N° Unique</th>
                                <th class="col-8" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeNUetOr.length === 0; else afficheDispoOR">
                                <td class="text-center" colspan="2">Aucun numéro unique</td>
                            </tr>
                            <ng-template #afficheDispoOR>
                                <tr id="{{nuOR.numeroUnique}}" *ngFor="let nuOR of listeNUetOr | filterNU : searchText" (click)="(nuOR.libelleOR === '') ? selectNU(nuOR.numeroUnique) : ''" [ngClass]="{'table-active': nuOR.libelleOR !=='', 'actifNow' : nuOR.numeroUnique === this.nuSelect, 'surbrillance' : (this.rangeSurbrillance.indexOf(nuOR.numeroUnique) !== -1) }" >
                                    <td class="col-4">{{nuOR.numeroUnique}}</td>
                                    <td class="col-8">{{nuOR.libelleOR}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
        

                <div class="col-12 col-lg-4 mb-5 px-lg-5 offset-lg-1 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Création </span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.typeNow + this.nuSelect +((this.checkSecurite) ? 'Z' : '')" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <select (change)=selectType($event) [(ngModel)] ="this.typeNow" class="form-select" id="atelierSelect" aria-label="Default select example">
                                        <option value ="" selected>Sélectionner le type </option>
                                        <option *ngFor="let type of listeTypeOR" [value]="type.idType">
                                            {{type.idType}} - {{type.libelleTypeOR}} 
                                        </option>
                                    </select>
                                    <label for="atelierSelect">Type</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input #Libelle [(ngModel)]="this.libelleObjetRepere" type="text" maxlength="50" class="form-control" id="IdLibelle" placeholder="" required>
                                <label for="IdLibelle">Libelle</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un libellé.
                                </div>
                            </div>
                            <div *ngFor="let d of this.description; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.description[i].value" #name="ngModel" name="value{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <span (click)="addDescription()" class="badge bg-light text-dark cursor"> <fa-icon class=" col-12" [icon]="faPlus" ></fa-icon> Ajouter une description</span>
                            </div>
                            
                            <div class="form-check ms-2 mb-3">
                                <input #SecuriteItem class="form-check-input" type="checkbox" [checked] ="this.checkSecurite" (change)="setcheckSecurite()" id="IdSecurite"  >
                                <label class="form-check-label" for="IdSecurite">
                                Securité
                                </label>
                            </div>

                            <div *ngIf="this.atelierSelect != '' && this.nuSelect != ''" class="form-check form-switch ms-1 mb-3 ">
                                <input class="form-check-input" type="checkbox" (change)="setcheckValide()" id="IdValide" [checked]="this.checkValide">
                                <label class="form-check-label align-self-center" for="IdValide">
                                Réserver un intervalle 
                                </label>
                            </div>
                                
                            <div *ngIf="this.checkValide">
                                <div class="form-floating mb-3 input-group">
                                    <input #NumberObjet type="number" oninput="this.value = this.value.replace(/\D+/g, '')" min="1" max="999" maxlength="1" class="form-control zindexZero" id="IdNumberObjet" placeholder=""  >
                                    <label for="IdNumberObjet">Nombre d'objets supplémentaire</label>
                                    <button class="input-group-text px-2 bg-white" (click)="reservationIsPossible(NumberObjet.value)"><fa-icon class=" text-right validate" [icon]="faCheck"></fa-icon></button>
                                </div>
                                <ng-container *ngIf="this.errorReservation">
                                    <div class="text-center mb-2 text-danger">Il n'y a pas la place nécessaire à la création. Veuillez choisir un autre emplacement</div>
                                    <div  class="input-group mb-3 justify-content-center" >
                                        <button class="btn btn-outline-secondary" type="button" (click)="getRangeToCreateOR(NumberObjet.value, false)">
                                            <fa-icon class=" text-right px-2" [icon]="faChevronLeft"></fa-icon>
                                        </button>
                                        <button class="btn btn-outline-secondary px-4" type="button" (click)="changeNU()">
                                            <fa-icon class=" text-right validate" [icon]="faCheck"></fa-icon> 
                                            <span class="ps-2 fs-6">Valider l'emplacement</span>
                                        </button>
                                        <button class="btn btn-outline-secondary" type="button" (click)="getRangeToCreateOR(NumberObjet.value, true)">
                                            <fa-icon class=" text-right px-2" [icon]="faChevronRight"></fa-icon>
                                        </button>
                                    </div>
                                </ng-container>
                                
                            </div>
                           
                            
                        </div>
                        <button *ngIf="this.atelierSelect != '' && this.nuSelect != '' && this.typeNow != '' && this.intervalValidate " (click)="createObjet(Libelle.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 mt-2 mb-3">Créer</button>
                    </div>
                </div>
            </ng-container>

            <ng-container  *ngIf="objectNow == 'Item'">
                <div class="col-lg-4 px-lg-5 col-xs-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheItemOR">
                                <td class="text-center" colspan="2">Aucun Objet repère</td>
                            </tr>
                            <ng-template #afficheItemOR>
                                <tr *ngFor="let OR of listeOR | filterModification : searchText :'ItemOR'" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'selectObject': OR.idObjetRepere == this.orSelect, 'actifNow' : OR.idObjetRepere === this.selectNow }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 px-lg-5 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheItemItem">
                                <td *ngIf="this.typeNow === ''" class="text-center" colspan="2">Sélectionner un type d'objet</td>
                                <td *ngIf="this.typeNow !== ''" class="text-center" colspan="2">Aucun Sous Item</td>
                            </tr>
                            <ng-template #afficheItemItem>
                                <tr *ngFor="let item of listeItem | filterModification : searchText : 'Item'"  (click)="(item.libelle === '') ? selectItem(item.idItem) : ''" [ngClass]="{'table-active': item.libelle !=='', 'actifNow' : item.idItem === this.itemSelect }" >
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-8">{{item.libelle}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="col-12 col-lg-4  px-lg-5 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Création </span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.itemSelect + ((this.checkSecurite) ? 'Z' : '')" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <select (change)=selectType($event) [(ngModel)] ="this.typeNow" class="form-select" id="atelierSelect" aria-label="Default select example">
                                        <option value ="" selected>Sélectionner le type </option>
                                        <option *ngFor="let type of listeTypeO" [value]="type.idType">
                                            {{type.idType}} - {{type.libelleType}}
                                        </option>
                                    </select>
                                    <label  for="atelierSelect"> Type </label>
                            </div>


                            

                            <div class="form-floating mb-3 input-group" >
                                <input [(ngModel)]="orSelect" type="text" maxlength="50" class="form-control zindexZero " id="IdOrSelect" placeholder="" readonly >
                                <input [(ngModel)]="LibelleItem" type="text" maxlength="50" class="form-control zindexZero flexPerso" id="IdLibelle" placeholder="" required >
                                <label for="IdLibelle">Libelle</label>
                                <div class="invalid-tooltip">
                                Veuillez renseigner un libellé.
                                </div>
                            </div>
                                                        
                            <div class="form-floating mb-3">
                                <input #DigitItem type="number" oninput="this.value = this.value.replace(/\D+/g, '')" min="0" max="9" maxlength="1" class="form-control" id="IdDigit" placeholder=""  [value]="this.itemSelect.slice(-1)" required disabled readonly>
                                <label for="IdDigit">Digit</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un digit.
                                </div>
                            </div>
                            <div *ngFor="let d of this.description; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.description[i].value" #name="ngModel" name="value{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <span (click)="addDescription()" class="badge bg-light text-dark cursor"> <fa-icon class=" col-12" [icon]="faPlus" ></fa-icon>Ajouter une description</span>
                            </div>
                            <div class="form-check ms-2 mb-3">
                                <input #SecuriteItem class="form-check-input" type="checkbox" [checked] =" this.checkSecurite" (change)="setcheckSecurite()" id="IdSecurite" [disabled]="this.secuOR == true" >
                                <label class="form-check-label" for="IdSecurite">
                                Securité
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline ms-2">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.A)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio1" value="A" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio1">Actif</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.EA)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio2" value="EA" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio2">En attente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.HS)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio3" value="HS" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio3">Hors service</label>
                            </div>
                           
                        </div>
                        <button *ngIf="this.atelierSelect != '' && this.itemSelect != '' && this.typeNow != ''" (click)="createItem( DigitItem.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Créer</button>
                    </div>
                </div>


            </ng-container>

            <ng-container *ngIf="objectNow == 'SI'">
                <div class="col-lg-4 px-lg-5 col-xs-12 mt-lg-3 transitionOr " [ngClass]="{'col-lg-1 ps-lg-5' : this.orSelectedForItem , 'col-lg-4 px-lg-5' : !this.orSelectedForItem }">
                    <div class="row">
                        <caption class="col-12 text-center changeFont" [ngClass]="{'fs-6' : !this.orSelectedForItem , 'fs-7' : this.orSelectedForItem }" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <ng-container *ngIf="!this.orSelectedForItem; else ReturnToOR ">
                                    <th (click)="setOrSelectedForItem(true)" class="col-4 text-center"  scope="col-4">
                                        <span [ngClass]="{'displayNameColumn' : !this.orSelectedForItem && this.orSelect !='', 'nowrapColumn' : !this.orSelectedForItem && this.orSelect !=''}">Identifiant</span>
                                    </th>
                                    <th (click)="setOrSelectedForItem(true)" class="col-8 text-center align-middle transitionOr" scope="col-8">
                                        <span [ngClass]="{'displayNameColumn' : !this.orSelectedForItem && this.orSelect !='', 'nowrapColumn' : !this.orSelectedForItem && this.orSelect !=''}">Libellé</span>
                                    </th>
                                </ng-container>
                                <ng-template #ReturnToOR>
                                    <th (click)="setOrSelectedForItem(false)" class="col-4 text-center transitionOr padding4" scope="col-3"><fa-icon class="fs-5 col-12 text-center " [icon]="faChevronRight"></fa-icon> </th>
                                </ng-template>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheSIOR">
                                <td class="text-center" colspan="2">Aucun Objet repère</td>
                            </tr>
                            <ng-template #afficheSIOR>
                                <tr *ngFor="let OR of listeOR | filterModification : searchText : 'SIOR'" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'selectObject': OR.idObjetRepere === this.orSelect, 'actifNow' : OR.idObjetRepere === this.selectNow }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td *ngIf="!this.orSelectedForItem" [ngClass]="{'nowrapColumn' : !this.orSelectedForItem && this.orSelect !=''}" class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheSIItem">
                                <td class="text-center" colspan="2">Aucun Item</td>
                            </tr>
                            <ng-template #afficheSIItem>
                                <tr *ngFor="let item of listeItem | filterModification : searchText : 'SIItem' | filterType : typeOfItemOR :'Item'"  (click)="selectItem(item.idItem)" [ngClass]="{'selectObject': item.idItem == this.itemSelect, 'actifNow' : item.idItem === this.selectNow }" >
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-8">{{item.libelleItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-lg-3 transitionOr" [ngClass]="{'col-lg-4' : this.orSelectedForItem , 'col-lg-0' : !this.orSelectedForItem }">
                    <div class="row ">
                        <caption class="col-12 text-center nowrapColumn" [ngClass]="{'notDisplayNameColumn' : !this.orSelectedForItem && this.orSelect !='', 'displayNameColumnShorter' : this.orSelectedForItem ,invisible : orSelect == ''}">Sous Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center nowrapColumn" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle nowrapColumn" scope="col-8" >Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeSousItem.length === 0; else afficheSISI">
                                <td class="text-center" colspan="2">Aucun Sous Item</td>
                            </tr>
                            <ng-template #afficheSISI>
                                <tr *ngFor="let sousItem of listeSousItem | filterModification : searchText : 'SI'"  (click)="selectSI(sousItem.idSousItem)" [ngClass]="{'selectObject': sousItem.idSousItem === this.siSelect }">
                                    <td class="col-5" [ngClass] ="{'nowrapColumn' : !this.orSelectedForItem && this.orSelect !=''}">{{sousItem.idSousItem}}</td>
                                    <td class="col-7" [ngClass] ="{'nowrapColumn' : !this.orSelectedForItem && this.orSelect !=''}">{{sousItem.libelleSousItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>



                
                <div class="col-12 col-lg-3 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Création </span>
                        </div>
                        
                        <div class="col-12 col-lg-12 my-3 px-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="(checkPrefixe ? (this.itemSelect.charAt(this.itemSelect.length-1) == 'Z' ? this.typeNow + this.itemSelect: this.typeNow + this.itemSelect)  : (this.itemSelect.charAt(this.itemSelect.length-1) == 'Z' ?  this.itemSelect.substring(0,this.itemSelect.length-1) + this.typeNow + 'Z' :  this.itemSelect + this.typeNow))" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <select (change)=selectType($event) [(ngModel)] ="this.typeNow" class="form-select" id="atelierSelect" aria-label="Default select example">
                                        <option value ="" selected>Sélectionner le type </option>
                                        <option *ngFor="let type of listeTypeOAvailableSI" [value]="type.idType" style="--bs-bg-opacity: .25;" [ngClass]="{'bg-secondary bg-gradient' : !type.actif}">
                                            {{type.idType}} - {{type.libelleType}} 
                                        </option>
                                    </select>
                                    <label  for="atelierSelect"> Type </label>
                            </div>
                            
                            <div class="form-floating mb-3 input-group">
                                <input [(ngModel)]="itemSelect" type="text" maxlength="50" class="form-control zindexZero " id="IdItemSelect" placeholder="" readonly >
                                <input [(ngModel)]="LibelleSousItem" type="text" maxlength="50" class="form-control zindexZero flexPerso" id="IdLibelle" placeholder="" required >
                                <label for="IdLibelle">Libelle</label>
                                <div class="invalid-tooltip">
                                Veuillez renseigner un libellé.
                                </div>
                            </div>

                            <p *ngIf="errorLibelle" class="text-danger text-center py-0 my-1"> Requiert l'identifiant de l'item</p>
                            <div *ngFor="let d of this.description; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.description[i].value" #name="ngModel" name="value{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <span (click)="addDescription()" class="badge bg-light text-dark cursor"> <fa-icon class=" col-12" [icon]="faPlus" ></fa-icon> Ajouter une description</span>
                            </div>
                            <div class="form-check ms-2 mb-3 d-flex">
                                <input #SecuriteItem class="form-check-input align-self-center me-2 " type="checkbox" [checked] ="this.checkPrefixe" (change)="setPrefixe()" id="IdPrefixe"  >
                                <label class="form-check-label align-self-center me-1" for="IdPrefixe">
                                Préfixer le type
                                </label>
                                <fa-icon data-bs-toggle="tooltip" data-bs-placement="bottom" container="body" title="-  Préfixe dans le cas de plans électriques &#13;-  Suffixe dans le cas de cartes ou d’annexes automate" class=" text-right info px-2" [icon]="faInfo" ></fa-icon>
                            </div>
                                                        
                            <div class="form-check form-check-inline ms-2">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.A)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio1" value="A" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio1">Actif</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.EA)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio2" value="EA" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio2">En attente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.HS)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio3" value="HS" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio3">Hors service</label>
                            </div>
                           
                        </div>
                        <button *ngIf="this.atelierSelect != '' && this.itemSelect != '' && this.typeNow != '' " (click)="createSI()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Créer</button>
                    </div>
                </div>


            </ng-container>


        </div>
        
    </div>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" attr.fill="{{colorToast}}"></rect></svg>
            <strong class="me-auto">{{typeToast}}</strong>
            <button (click)="closeToast()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{messageToast}}
        </div>
        </div>
    </div>
</div>