.scrolltable {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}



.cursor {
    cursor: pointer;
}

.actifNow{
    background-color :#0060a081 !important;
    color : #fff !important;
    font-weight: bold;
    padding:5px;
}
.actifNow:hover > td{
    background-color :#0060a081 !important;
    color : rgb(252, 253, 237) !important;
    font-weight: bold;
    letter-spacing: 0 !important;
}

table th {
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250);  
}

.table > :not(:first-child) {
    border-top : none;  
}

.table-active {
    cursor: not-allowed;
}

.zindexZero{
    z-index: 0 !important;
}

.close {
    font-size: 25px;
    color : red;
}

.box-error{
    box-shadow: 0 0 0 .25rem rgba(253, 13, 13, 0.25) !important;
}

.transitionOr{
    transition-duration: 1s;
}

.fs-7 {
    font-size : 0.9rem;
    transition-duration: 0.5s
}

.displayNameColumn{
    visibility: hidden;
    animation: 0.75s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }