<div class="container">
    <div class="shadow-sm p-3 mt-4">
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <div class="input-group">
                    <label class="input-group-text " for="atelierSelect">Atelier</label>
                    <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                        <option value ="" selected>Sélectionner l'atelier</option>
                        <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier">
                            {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                        </option>
                    </select>
                </div> 
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between">
                <legend class="col-form-label col-sm-2 pt-0">Date</legend>
                <div>
                    <label class="pe-3" for="start">Début </label>
                    <input type="date" id="start" name="trip-start" (change)="setDateDebut($event)" [(ngModel)]="dateDebut">
                </div>
                <div>
                    <label class="pe-3" for="end">Fin </label>
                    <input type="date" id="end" name="trip-start" (change)="setDateFin($event)" [(ngModel)]="dateFin">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-lg-6">
                <div class="input-group">
                    <label class="input-group-text " for="TypeObjetSelect">Type Objet</label>
                    <select (change)=selectTypeObjet($event) class="form-select" id="TypeObjetSelect" aria-label="Default select example">
                        <option value ="" selected>Sélectionner le type d'objet</option>
                        <option *ngFor="let typeObjet of listeTypeO" [value]="typeObjet.idType">
                            {{typeObjet.idType}} - {{typeObjet.libelleType}}
                        </option>
                    </select>
                </div> 
            </div>
            <div class="col-12 col-lg-6 ">
                <legend class="col-form-label col-sm-2 pt-0">Actif </legend>
                <div class="form-check form-check-inline">
                    <input (change)="selectActif(1)" class="form-check-input" type="radio" name="actif" id="trueActif" value="">
                    <label class="form-check-label" for="trueActif">Oui</label>
                </div>
                <div class="form-check form-check-inline">
                    <input (change)="selectActif(0)" class="form-check-input" type="radio" name="actif" id="falseActif" value="">
                    <label class="form-check-label" for="falseActif">Non</label>
                </div>
                <div class="form-check form-check-inline">
                    <input (change)="selectActif(-1)" class="form-check-input" type="radio" name="actif" id="ignoredActif" value="">
                    <label class="form-check-label" for="ignoredActif">Ignorer</label>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="input-group">
                    <label class="input-group-text " for="ObjetRepère">Objet repère</label>
                    <input class="form-control" type="text" placeholder="Identifiant" id="ObjetRepère" [(ngModel)]="objetRepere" >
                </div> 
            </div>
            <div class="col-6">
                <legend class="col-form-label col-sm-2 pt-0">Securité</legend>
                    <div class="form-check form-check-inline">
                        <input (change)="selectSecurite(1)" class="form-check-input" type="radio" name="securite" id="trueSecurite" value="">
                        <label class="form-check-label" for="trueSecurite">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input (change)="selectSecurite(0)" class="form-check-input" type="radio" name="securite" id="falseSecurite" value="">
                        <label class="form-check-label" for="falseSecurite">Non</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input (change)="selectSecurite(-1)" class="form-check-input" type="radio" name="securite" id="ignoredSecurite" value="">
                        <label class="form-check-label" for="ignoredSecurite">Ignorer</label>
                    </div> 
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="scrolltable"> 
                <table class="table table-hover cursor ">
                    <thead>
                    <tr>
                        <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                        <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngIf="this.exportData.length === 0; else afficheOrItem">
                        <td class="text-center" colspan="2">Aucun Sous Item</td>
                    </tr>
                    <ng-template #afficheOrItem>
                        <tr *ngFor="let OR of exportData" >
                            <td class="col-4">{{OR.idObjetRepere}}</td>
                            <td class="col-8">{{OR.libelleObjetRepere}}</td>
                        </tr>
                    </ng-template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<button (click)="exportExcel()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2"> Export </button>
