<div class="container-fluid px-lg-5">
    <div class="row mt-3 px-lg-5">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="col-lg-3 col-12 mt-1">
                        <div class="input-group">
                            <label class="input-group-text " for="atelierSelect">Atelier</label>
                            <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                                <option value ="" selected>Sélectionner l'atelier</option>
                                <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier">
                                    {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                                </option>
                            </select>
                        </div> 
                </div>
                <div class="col-lg-3 col-12 mt-1">
                        <div class="input-group">
                            <label class="input-group-text " for="atelierSelect">Recherche</label>
                            <input class="form-control" type="text" placeholder="Identifiant" id="search" [(ngModel)]="searchText">
                        </div> 
                </div>

                <div class="col-lg-2 col-6 mt-1 align-self-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkValide" [(ngModel)]="this.isValide" (click)="CheckIfORSelectedValide()">
                      <label class="form-check-label" for="checkValide">
                        Objet repère valide
                      </label>
                    </div>
                </div>

                <div class="col-lg-2 col-6 mt-1 align-self-center">
                    <button (click)="delete()" type="button" data-bs-toggle="modal" data-bs-target="#Suppresion" class="btn btn-light">Supprimer</button>
                </div> 
                
                
            </div>
        </div>
        <div class="row m-0 p-0"> 
            <ng-container *ngIf="objectNow == 'OR'">
                <div class="col-lg-4 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-1 text-center" scope="col-1"></th>
                                <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                                <th class="col-7 text-center align-middle" scope="col-7">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheOR">
                                <td class="text-center" colspan="3">Aucun Objet repère</td>
                            </tr>
                            <ng-template #afficheOR>
                                <tr (dblclick)="selectCheckOr(OR.idObjetRepere)" *ngFor="let OR of listeOR | filterSuppression : searchText | filterType : typeNow:'OR' | actifVisualisation : isValide" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'table-active' : OR.idObjetRepere === this.idORSelect,  'actifNow' : OR.idObjetRepere === this.selectedNow  }" >
                                    <td class="col-1">
                                        <input (click)="selectCheckOr(OR.idObjetRepere)" class="form-check-input"  type="checkbox"  [checked]="OR.isPaste" id="flexCheckDefault">
                                    </td>
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td class="col-7">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-1 text-center" scope="col-1">
                                  <input *ngIf="this.listeItem.length !== 0" class="form-check-input" type="checkbox" (change)="allSelectItem()" [checked]="this.checkAllItem" [disabled]="Ornow.isPaste == true" id="flexCheckDefault">
                                </th>
                                <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                                <th class="col-7 text-center align-middle" scope="col-7">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheItem">
                                <td class="text-center" colspan="3">Aucun Item</td>
                            </tr>
                            <ng-template #afficheItem>
                                <tr (dblclick)="selectCheckItem(item.idItem)" *ngFor="let item of listeItem | filterSuppression : searchText | filterType : typeNow:'Item'"  (click)="selectItem(item.idItem)" [ngClass]="{'table-active' : item.idItem === this.idItemSelect, 'actifNow' : item.idItem === this.selectedNow }" >
                                    <td class="col-1 text-center">
                                        <input (click)="selectCheckItem(item.idItem)" class="form-check-input"  type="checkbox" [disabled]="Ornow.isPaste == true" [checked]="item.isPaste" id="flexCheckitem">
                                    </td>
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-7">{{item.libelleItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Sous Item</caption>
                    </div>
                    <div class="scrolltable"> 
                      <table class="table table-hover cursor">
                          <thead>
                            <tr>
                                <th class="col-1 text-center" scope="col-1">
                                    <input *ngIf="this.listeSousItem.length !== 0" class="form-check-input text-center" type="checkbox" (change)="allSelectSI()" [checked]="this.checkAllSi" [disabled]="ItemNow.isPaste == true" id="flexCheckDefault">
                                </th>
                                <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                                <th class="col-7 text-center align-middle" scope="col-7">Libellé</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf="this.listeSousItem.length === 0; else afficheSousItem">
                              <td class="text-center" colspan="3">Aucun Sous Item</td>
                            </tr>
                            <ng-template #afficheSousItem>
                              <tr (dblclick)="selectCheckSi(sousItem.idSousItem)" *ngFor="let sousItem of listeSousItem | filterVisualisation : searchText" (click)="selectSO(sousItem.idSousItem)" [ngClass]="{'table-active': sousItem.idSousItem === this.idSousItemSelect, 'actifNow' : sousItem.idSousItem === this.selectedNow }">
                                <td class="col-1 text-center">
                                    <input (click)="selectCheckSi(sousItem.idSousItem)" class="form-check-input"  type="checkbox" [disabled]="ItemNow.isPaste == true" [checked]="sousItem.isPaste" id="flexCheckDefault">
                                </td>  
                                <td class="col-4">{{sousItem.idSousItem}}</td>
                                <td class="col-7">{{sousItem.libelleSousItem}}</td>
                              </tr>
                            </ng-template>
                            
                          </tbody>
                        </table>
                    </div>
                </div>
            </ng-container>
        </div>
        
    </div>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" attr.fill="{{colorToast}}"></rect></svg>
            <strong class="me-auto">{{typeToast}}</strong>
            <button (click)="closeToast()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{messageToast}}
        </div>
        </div>
    </div>

</div>
  
  <!-- Modal -->
  <div class="modal fade" id="Suppresion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Récapitulatif de suppression</h5>
          <button type="button" class="btn-close" (click)="closeRecap()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                <div *ngIf="this.ORDeleted.length == 0 && this.ItemDeleted.length == 0 && this.SiDeleted.length == 0; else recap" class="my-5 text-center">
                    Aucune demande de suppresion d'objet 
                </div>
            
            <ng-template #recap>
              <div *ngIf="suppressionEnCours" class="spinnerWaiting">
                <div class="spinner-grow" role="status">
                  <span class="visually-hidden ">Loading...</span>
                </div>
                <div class="spinner-grow" role="status">
                  <span class="visually-hidden ">Loading...</span>
                </div>
                <div class="spinner-grow" role="status">
                  <span class="visually-hidden ">Loading...</span>
                </div>
                <div class="fs-4">
                  Suppression en cours
                </div>
              </div>
              <div [ngClass]="{loading : suppressionEnCours}">
                <div class="accordion" id="accordionExample">
                    <div *ngIf="this.ORDeleted.length != 0" class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Objet repère
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
                        <div class="accordion-body">
                            <div *ngFor="let OR of this.ORDeleted; last as isLast" class="row" [ngClass]="{'border-bottom' : !isLast}">
                                <div class="col-9 align-self-center">
                                    <b>{{OR}}</b> et ses objets liés (item et sous-item)
                                </div>
                                <div *ngIf="returnDeleteOrNot(TypeObject.OR, OR); else errorReturnOR" class="col-3 d-flex justify-content-evenly">
                                  <div class="align-self-center d-none d-sm-block">Succès</div>
                                  <fa-icon class=" text-center fs-3 text-success" [icon]="faCircleCheck "></fa-icon>
                                </div>
                                <ng-template #errorReturnOR>
                                  <div *ngIf="returnDeleteOrNot(TypeObject.OR, OR) == false; else undefinedReturnOR" class="col-3 d-flex justify-content-evenly">
                                    <div class="align-self-center d-none d-sm-block">Erreur</div>
                                    <fa-icon class=" text-center fs-3 text-danger" [icon]="faCircleXmark"></fa-icon>
                                  </div>
                                </ng-template>
                                <ng-template #undefinedReturnOR>
                                  <div class="col-3 d-flex py-3 justify-content-evenly">
                                  </div>
                                </ng-template>
                            </div>

                        </div>
                      </div>
                    </div>
                    <div *ngIf="this.ItemDeleted.length != 0" class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Item
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" >
                        <div class="accordion-body">
                            <div *ngFor="let Item of this.ItemDeleted; last as isLast" class="row" [ngClass]="{'border-bottom' : !isLast}">
                                <div class="col-9 align-self-center">
                                    <b>{{Item}}</b> et ses objets liés (sous-item)
                                </div>
                                <div *ngIf="returnDeleteOrNot(TypeObject.Item, Item); else errorReturnItem" class="col-3 d-flex justify-content-evenly">
                                  <div class="align-self-center d-none d-sm-block">Succès</div>
                                  <fa-icon class=" text-center fs-3 text-success" [icon]="faCircleCheck "></fa-icon>
                                </div>
                                <ng-template #errorReturnItem>
                                  <div *ngIf="returnDeleteOrNot(TypeObject.Item, Item) == false ; else undefinedReturnItem" class="col-3 d-flex justify-content-evenly">
                                    <div class="align-self-center d-none d-sm-block">Erreur</div>
                                    <fa-icon class=" text-center fs-3 text-danger" [icon]="faCircleXmark"></fa-icon>
                                  </div>
                                </ng-template>
                                <ng-template #undefinedReturnItem>
                                  <div class="col-3 d-flex py-3 my-1 justify-content-evenly">
                                  </div>
                                </ng-template>
                            </div>

                        </div>
                      </div>
                    </div>
                    <div *ngIf="this.SiDeleted.length != 0" class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Sous-Item
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" >
                        <div class="accordion-body">
                            <div *ngFor="let SI of this.SiDeleted; last as isLast" class="row " [ngClass]="{'border-bottom' : !isLast}">
                                <div class="col-9">
                                    <b>{{SI}}</b> 
                                </div>
                                <div *ngIf="returnDeleteOrNot(TypeObject.SI, SI); else errorReturnSI" class="col-3 d-flex justify-content-evenly">
                                  <div class="align-self-center d-none d-sm-block">Succès</div>
                                  <fa-icon class=" text-center fs-3 text-success" [icon]="faCircleCheck "></fa-icon>
                                </div>
                                <ng-template #errorReturnSI>
                                  <div *ngIf="returnDeleteOrNot(TypeObject.SI, SI) == false; else undefinedReturnSI" class="col-3 d-flex justify-content-evenly">
                                    <div class="align-self-center d-none d-sm-block">Erreur</div>
                                    <fa-icon class=" text-center fs-3 text-danger" [icon]="faCircleXmark"></fa-icon>
                                  </div>
                                </ng-template>
                                <ng-template #undefinedReturnSI>
                                  <div class="col-3 py-3 d-flex justify-content-evenly">
                                  </div>
                                </ng-template>
                            </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  
            </ng-template>
        </div>
        <div class="container  mx-0 px-0">
          
          <div *ngIf="!suppWithDmdAdmin && suppExecEnd" class="row border-top d-flex justify-content-center pt-1 pb-2">
            <div class="col-1 text-end pt-1">
              <fa-icon class=" text-center fs-3 text-success" [icon]="faCircleCheck "></fa-icon>  
            </div>
            <div class="col-11 fw-bold align-self-center fs-6"> 
              Les suppressions ont bien été effectuées 
            </div>
          <div *ngIf="suppWithDmdAdmin && suppExecEnd" class="row border-top pt-1 pb-2">
            <div class="col-1 text-end pt-1">
              <fa-icon class=" fs-3 text-danger" [icon]="faCircleXmark"></fa-icon> 
            </div>
            <div class="col-11">
              <div class="row text-start">
                <div class=" col-12 fw-bold fs-6">
                  Néccessite l'intervention d'un administrateur
                </div>
                <div class=" col-12 fs-6">
                  Veuillez faire une demande pour qu'un administrateur puisse effectuer ces suppressions
                </div>
              </div> 
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button *ngIf="!suppExecEnd && this.ORDeleted.length != 0 || this.ItemDeleted.length != 0 || this.SiDeleted.length != 0" type="button" class="btn btn-secondary" (click)="deleteConfirmation()" >Supprimer</button>
          <button *ngIf="suppWithDmdAdmin && suppExecEnd" type="button" class="btn btn-secondary" (click)="deleteConfirmation()"> Faire une demande de suppression</button>
          <button type="button" class="btn btn-secondary" (click)="closeRecap()" data-bs-dismiss="modal" >Fermer</button>
          
        </div>
      </div>
    </div>
  </div>

