.min-vh-height {
    min-height: 715px;
}


.buttonEditDemande:hover {
    background-color: rgb(241, 241, 241);
}

.scrolltable {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.scrolltableActivity {
    max-height: 540px;
    overflow-x: hidden;
    overflow-y: auto;
}

.stickyheader {
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);  
}

td:hover {
    background-color: rgb(233, 235, 236);
}

.cursor-pointer {
    cursor: pointer;
}

.today{
    background-color: #BFDBFE;
    color: #fff;
}

.today:hover{
    background-color: #93C5FD;
    color: #fff;
}

.selectedDay:not(.disabled){
    border : 3px solid #F3F4F6 !important;
}

.today.selectedDay:not(.disabled){
    border : 3px solid #A8B5FF !important;
    background-color: rgb(135, 151, 238);
}


.disabled {
    color : rgb(197, 197, 197);
}


.dayIsSelected{
    transition-duration: 0.65s;
}

.disabledCalendar{
    transform: translateY(-170px) scaleY(0);
    animation: 1s fadeOut;
    animation-fill-mode: both; 
    visibility: hidden;
}

.showDay {
    visibility: hidden;
    animation: 1.1s fadeIn;
    animation-fill-mode: forwards; 
    height: 0px;
    
}

@keyframes fadeOut {
    1% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
      opacity: 0
    }
}

@keyframes fadeIn {
    
    50% {
        visibility: hidden;
        display: none !important
    }
    51%{
        visibility: visible;
        display: block !important;
        opacity: 0;
    }
    99% {
    }
    100% {
      display: block !important;
      visibility: visible;
      
    }
}

.hover-day:hover{
    background-color: #fcfafa;
}

                                                
.dixsept {
    width: 14.28%;
}                                       


.spinner-grow {
    margin : 0 .5rem 0 .5rem;
}

.spinnerWaiting{
    position: relative;
    text-align: center;
}

.spinnerWaiting .spinner-grow:nth-child(1){
    animation-delay: 0.1s;
}
.spinnerWaiting .spinner-grow:nth-child(2){
    animation-delay: 0.2s;
}
.spinnerWaiting .spinner-grow:nth-child(3){
    animation-delay: 0.3s;
}


.showArrow {
    visibility: hidden;
    animation: 0.75s fadeIn;
    animation-fill-mode: both; 
    
}

.bgTypeCreation{
    background-color: #DCFCE7;
}

.bgCreation {
    background-color: #F0FDF4;
}

.bgTypeModification{
    background-color: #FED7AA;
}

.bgModification {
    background-color: #FFF7ED;
}

.bgTypeSuppression{
    background-color: #FECACA;
}

.bgSuppression {
    background-color: #FEF2F2;
}

.newValue {
    color :#00608F
}

.btn-light.activeActivity  {
    background-color: #E5E7EB !important;
    border-color: #E5E7EB !important;
    font-weight: 550;
}

.btn-light:hover{
    background-color: #F3F4F6 !important;
    border-color: #F3F4F6 !important;
}

.btn-light:focus:hover{
    background-color: #D1D5DB !important;
    border-color: #D1D5DB !important;
}


.btn-del {
    background-color: #FEF2F2 ;
}

.btn-del:hover {
    background-color: #FEE2E2 !important;
}

.btn-del:active:hover {
    background-color: #fecaca !important;
}

.btn-del.activeActivity{
    background-color: #fee2e2 !important;
    font-weight: 550;
    box-shadow: 0 0 0 .15rem rgba(254, 202, 202, 0.5);
    z-index: 9;
}

.btn-del:focus {
    box-shadow: 0 0 0 .25rem rgba(254, 202, 202, 0.5)
}


.btn-edit {
    background-color: #FFF7ED ;
}

.btn-edit:hover {
    background-color: #FFEDD5 !important;
}

.btn-edit:active:hover {
    background-color: #fdba74 !important;
}

.btn-edit.activeActivity{
    background-color: #FED7AA !important;
    font-weight: 550;
    box-shadow: 0 0 0 .15rem rgba(253, 186, 116, 0.5);
    z-index: 9;
}

.btn-edit:focus {
    box-shadow: 0 0 0 .25rem rgba(253, 186, 116, 0.5);
}


.btn-create {
    background-color: #F0FDF4 ;
}

.btn-create:hover {
    background-color: #DCFCE7 !important;
}

.btn-create:active:hover {
    background-color: #86efac !important;
}

.btn-create.activeActivity{
    background-color: #BBF7D0 !important;
    font-weight: 550;
    box-shadow: 0 0 0 .15rem rgba(134, 239, 172, 0.5);
    z-index: 9;
}

.btn-create:focus {
    box-shadow: 0 0 0 .25rem rgba(134, 239, 172, 0.5);
}

textarea{
    resize: none;
}