<div class="container-fluid px-5">
    <div class="row m-0 p-0 mt-5">
        <div class=" col-12 col-lg-4 px-lg-4">
            <div class="row col-lg-10 offset-lg-1 mb-3">
                <div class="input-group">
                <label class="input-group-text col-3" for="atelierSelect">Atelier</label>
                <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                    <option value ="" selected>Selection de l'atelier</option>
                    <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier" style="--bs-bg-opacity: .25;" [ngClass]="{'bg-secondary bg-gradient' : !atelier.actif}">
                        {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                    </option>
                </select>
                </div>
            </div>
            <div class="row mb-3 col-lg-10 offset-lg-1">
                <div class="input-group">
                    <label class="input-group-text col-3" for="search" >Recherche</label>
                    <input class="form-control" type="text" placeholder="Identifiant" id="search" [(ngModel)]="searchText">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <caption class="col-12 text-center">Objet repère</caption>
                </div>
                <div class="scrolltable">
                    <table class="table table-hover table-fixed">
                        <thead>
                        <tr >
                            <th scope="col">Identifiant</th>
                            <th scope="col">Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="this.listeObjetRepere.length === 0; else afficheOR">
                                <td class="text-center" colspan="2">Aucun Objet Repère</td>
                            </tr>
                            <ng-template #afficheOR>
                                <tr *ngFor="let objetRepere of listeObjetRepere | filterRecopie : searchText" (click)="selectOR(objetRepere.idObjetRepere)" [ngClass]="{'actifNow': objetRepere.idObjetRepere === this.selectedOr}">
                                    <td class="col-5">{{objetRepere.idObjetRepere}}</td>
                                    <td class="col-7">{{objetRepere.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4  px-lg-4 ">
            <div class="row col-lg-10 offset-lg-1 py-lg-4">
                <div class=" input-group ">
                    <label class="input-group-text col-3" for="typeSelect">Type</label>
                    <select (change)=selectType($event) [(ngModel)] ="this.typeNow" class="form-select" id="typeSelect" aria-label="Default select example">
                        <option value ="" selected>Sélectionner le type </option>
                        <option *ngFor="let type of listeTypeOOfOR" [value]="type.idTypeObjet">
                            {{type.idTypeObjet}} - {{type.libelleTypeObjet}}
                        </option>
                    </select>
                </div>        
            </div>
            <div class="col px-3 py-lg-3">
                <div class="row">
                    <caption class="col-12 text-center" >Item</caption>
                </div>
                <div class="mt-lg-1 scrolltableItem">
                    <table class="table table-hover table-fixed">
                        <thead>
                        <tr >
                            <th scope="col"><input *ngIf="this.listeItem.length !== 0" class="form-check-input" type="checkbox" (change)="allSelect()" [checked]="this.checkAll" id="flexCheckDefault"></th>
                            <th scope="col">Identifiant</th>
                            <th scope="col">Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheItem">
                                <td class="text-center" colspan="3">Aucun Item</td>
                            </tr>
                            <ng-template #afficheItem>
                                <tr (click)="checkItem(item.idItem)" *ngFor="let item of listeItem | filterItemByType : this.typeNow">
                                    <td class="col-1">
                                        <input class="form-check-input" type="checkbox"  [checked]="item.isPaste" id="flexCheckDefault">
                                    </td>
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-7">{{item.libelleItem}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-5  ">
            <div class=" border py-4 px-4 rounded shadow-sm">
                <div [ngClass]="{loading : recopieEnCours}">
                    <p class="fs-4 text-center mb-4 ">Selection de l'objet cible</p>
                    <div class="row col-lg-10 offset-lg-1 mb-3">
                        <div class="input-group">
                            <span class="input-group-text col-3">Atelier</span>
                            <select (change)=selectAtelierCible($event) #AtelierSelect class="form-select" id="atelierSelect" aria-label="Default select example" [(ngModel)]="atelierCible" [disabled]="!estAdmin ">
                                <option value ="" selected>Selection de l'atelier</option>
                                <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier">
                                    {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-10 offset-lg-1 mb-3">
                        <div class="input-group">
                            <span class="input-group-text col-3">Numéro</span>
                            <input #NU [(ngModel)]="nuCible" (input)=selectNUCible($event) type="text" oninput="this.value = this.value.replace(/\D+/g, '')" maxlength="3" min="0" max="999" length="3" class="form-control">
                        </div>
                    </div>


                    <div class="row col-lg-10 offset-lg-1 mb-1">
                        <div class="input-group">
                            <span class="input-group-text col-3">N° Unique</span>
                            <input type="text" class="form-control" [ngClass]="this.ORCibleExist == 1 ? 'orValid' : this.ORCibleExist == 0 ? 'orInvalide' : ''"   [value]="this.atelierCible + this.nuCible" readonly>
                        </div>
                    </div>
                    <div *ngIf="this.ORCibleExist != -1" [ngClass]="this.ORCibleExist == 1 ? 'labelValid' : 'labelInvalide'"  class="text-center">{{this.ORCible}}</div>
                    <div *ngIf="this.ORCibleExist == -1" class="py-2 mb-1 labelInvalide"> </div>
                    
                    <button *ngIf="!recopieEnCours"(click)="recopieItem(AtelierSelect.value, NU.value)" type="button" [disabled]="this.ORCibleExist != 1" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Recopier</button>
                    <div class="row">
                        <div class="col-10 offset-1 text-center fs-6 fst-italic">
                            L'ensemble des sous-items des items selectionnés est recopié automatiquement
                        </div>
                    </div>
                </div>
                    <div *ngIf="recopieEnCours" class="spinnerWaiting">
                        <div class="spinner-grow" role="status">
                          <span class="visually-hidden ">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="visually-hidden ">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="visually-hidden ">Loading...</span>
                        </div>
                        <div class="fs-4">
                          Recopie en cours
                        </div>
                    </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" attr.fill="{{colorToast}}"></rect></svg>
        <strong class="me-auto">{{typeToast}}</strong>
        <button (click)="closeToast()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{messageToast}}
    </div>
    </div>
</div>