<!-- <div class="container">
    <div class="row mt-5">
        <div class="col-12 border rounded">
            <div class="row px-5">
                <input #name type="text">
                <input type="file" (change)="handleFileInput('test' ,$event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                <input type="file" (change)="handleFileInput('test' ,$event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                <button (click)="sendInformations()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Modifier</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xs-12 mt-4">
            <div class="input-group">
            <label class="input-group-text" for="searchObject" >Recherche</label>
            <input class="form-control" type="text" placeholder="Identifiant" id="searchObject" [(ngModel)]="searchText">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12 mt-lg-5 mt-3 order-2 order-lg-1">
            <div class="col-12 py-3 bg-light border rounded shadow-sm">
                <div class="scrolltable cursor-pointer col-12 col-xl-10 offset-xl-1"> 
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date</th>
                            <th>Profil</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of listeInformations | filterInfo: searchText" (click)="selectInformation(info.idInfo)" [ngClass]="{'table-active': info.idInfo === this.idSelected}">
                                <td class="col-5 align-middle"> {{info.titre}}</td>
                                <td class="col-3 text-center align-middle"> {{info.dateCreation | date: 'dd/MM/yyyy HH:mm'}} </td>
                                <td class="col-4 align-middle"> {{info.profilCreation}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 
        <div *ngIf="!changesNow; else formType" class="col-lg-6 col-xs-12 mt-3 mt-lg-5 order-1 order-lg-2">
            <div class="row">
                <div class="col-lg-12 col-3 my-lg-3">
                    <button (click)="selectCreateType()" type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3 shadow-sm ">
                        <div class="d-none d-lg-block">Créer une nouvelle information</div>
                        <div class="d-block d-lg-none"><fa-icon class="fs-3 col-12" [icon]="faPlus" ></fa-icon> </div>
                    </button>
                </div>
                <div *ngIf="this.idSelected !== -1" class="col-lg-12 col-3 my-lg-3">
                    <button (click)="selectModifyType()"type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3 shadow-sm">
                        <div class="d-none d-lg-block">Modifier l'information</div>
                        <div class="d-block d-lg-none"><fa-icon class="fs-3 col-12" [icon]="faPen" ></fa-icon> </div>
                    </button>
                </div>
                <div *ngIf="this.idSelected !== -1" class="col-lg-12 col-3 my-lg-3">
                    <button (click)="selectDeleteType()" type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3 shadow-sm">
                        <div class="d-none d-lg-block">Supprimer l'information</div>
                        <div class="d-block d-lg-none"><fa-icon class="fs-3 col-12" [icon]="faTrashCan" ></fa-icon> </div>
                    </button>
                </div>
                <div *ngIf="this.idSelected !== -1" class="col-lg-12 col-3 my-lg-3">
                    <button (click)="selectRead()" type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3 shadow-sm">
                        <div class="d-none d-lg-block">Lire l'information</div>
                        <div class="d-block d-lg-none"><fa-icon class="fs-3 col-12" [icon]="faInfo" ></fa-icon> </div>
                    </button>
                </div>
            </div>
        </div>
         <ng-template #formType >
            <ng-container *ngIf="idSelected == -1; else modification">
                <div class="col-lg-5 col-xs-12 mt-5 offset-lg-1 order-1 order-lg-2 needs-validation" [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded py-3 px-3 px-lg-1 shadow-sm">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Création </span>
                            <fa-icon class="close col-1 text-right" [icon]="faXmark" (click)="close()"></fa-icon>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <textarea #TitreCrea [(ngModel)]="titre" type="text" rows="2" class="form-control" id="TitreCrea" placeholder="" required></textarea>
                                <label for="TitreCrea">Titre</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un titre.
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea [(ngModel)]="text" #textCrea type="text" rows="3" class="form-control" id="textCrea" placeholder="" required></textarea>
                                <label for="textCrea">Texte</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un texte.
                                </div>
                            </div>
                            <div *ngFor="let d of this.documents; let i = index"  > 
                                <div class="row mb-3">
                                    <div class="col-10 me-0 pe-0"> 
                                        <div class="form-floating input-group">
                                            <input #Libelle [(ngModel)]="this.documents[i].nom" type="text" maxlength="50" class="form-control  border-bottom-0 no-rounded-bottom-left zindexZero" id="idDocumentCrea{{i}}" placeholder="" required>
                                            <label for="idDocumentCrea{{i}}">Nom du document </label>
                                        </div>
                                        <div>
                                            <input class="form-control no-rounded-top-right no-rounded-top-left no-rounded-bottom-right form-control-sm" id="formFile" type="file" (change)="handleFileInput(i ,$event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                                        </div>
                                    </div>
                                    <div class="col-2 ms-0 ps-0">
                                        <button class="input-group-text border-start-0 px-2 no-rounded-top-left justify-content-center no-rounded-bottom-left bg-white h-100 w-100" (click)="removeDocument(i)"><fa-icon class=" close" [icon]="faXmark"></fa-icon></button>
                                    </div>
                                </div>    
                            </div> 
                            <div class="form-floating mb-3">
                                <span (click)="addDocument()" class="badge bg-light text-dark cursor"> <fa-icon class=" col-12" [icon]="faPlus" ></fa-icon> Ajouter un document</span>
                            </div>
                        </div>
                        
                        <button (click)="createInformations()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Créer</button>
                    </div>
                </div>
            </ng-container>
            <ng-template #modification >
                <ng-container *ngIf="!this.suppresion && !this.read; else supp">
                    <div class="col-lg-5 col-xs-12 mt-5 offset-lg-1 order-1 order-lg-2 needs-validation"  [ngClass]="{'was-validated': formValidate === true}" >
                        <div class="container-fluid border rounded py-3 px-3 shadow-sm">
                            <div class="text-center row ">
                                <span class="fs-3 col-10 offset-1">Modification </span>
                                <fa-icon class="close col-1 text-right" [icon]="faXmark" (click)="close()"></fa-icon>
                            </div>
                            <div class="col-12 col-lg-10 offset-lg-1 my-3">
                                <div class="form-floating mb-3">
                                    <textarea #ModifIdentifiant type="text" class="form-control" id="TitreEdit" placeholder="" disabled readonly [value]="infoSelect.titre"></textarea>
                                    <label for="TitreEdit">Titre</label>
                                </div>
                                <div class="form-floating mb-3"> 
                                    <textarea #ModifLibelle type="text" class="form-control" id="TextEdit" placeholder="" [value]="infoSelect.text" required></textarea>
                                    <label for="TextEdit">Texte</label>
                                    <div class="invalid-tooltip">
                                        Veuillez renseigner un text.
                                    </div>
                                </div>
                                <div *ngFor="let d of this.infoSelect.document; let i = index"  > 
                                    <div class="row mb-3">
                                        <div class="col-10 me-0 pe-0"> 
                                            <div class="form-floating input-group">
                                                <input #Libelle type="text" maxlength="50" class="form-control  border-bottom-0 no-rounded-bottom-left zindexZero" id="idDocumentCrea{{i}}" placeholder="" required [value]="d.nomDocument">
                                                <label for="idDocumentCrea{{i}}">Nom du document </label>
                                            </div>
                                            <div>
                                                <input class="form-control no-rounded-top-right no-rounded-top-left no-rounded-bottom-right form-control-sm" id="formFile" type="file" (change)="handleFileInput('test' ,$event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
                                            </div>
                                        </div>
                                        <div class="col-2 ms-0 ps-0">
                                            <button class="input-group-text border-start-0 px-2 no-rounded-top-left justify-content-center no-rounded-bottom-left bg-white h-100 w-100" (click)="removeDocument(i)"><fa-icon class=" close" [icon]="faXmark"></fa-icon></button>
                                        </div>
                                    </div> 
                                </div> 

                                
                            </div>
                            <button (click)="updateInformations()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Modifier</button>
                        </div>
                    </div>
                </ng-container>
            </ng-template> 
            <ng-template #supp >
                <ng-container *ngIf="!this.read; else info">
                    <div class="col-lg-5 col-xs-12 mt-5 offset-lg-1 order-1 order-lg-2">
                        <div class="container-fluid border rounded py-3 px-3 shadow-sm">
                            <div class="text-center row ">
                                <span class="fs-3 col-10 offset-1">Suppresion</span>
                                <fa-icon class="close col-1 text-right" [icon]="faXmark" (click)="close()"></fa-icon>
                            </div>
                            <div class="col-12 col-lg-10 offset-lg-1 my-5">
                                <div class="text-center fs-5">
                                    Voulez-vous supprimer l'information <b>{{infoSelect.titre}}</b> ?
                                </div>
                            </div>
                            <button (click)="deleteInformation()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Supprimer</button>
                        </div>
                    </div>
                </ng-container>
            </ng-template> 
            <ng-template #info >
                    <div class="col-lg-5 col-xs-12 mt-5 offset-lg-1 order-1 order-lg-2">
                        <div class="container-fluid border rounded py-3 px-0 shadow-sm">
                            <div class="text-center border-bottom row pb-3 px-0 mx-0">
                                <span class="fs-4 col-10 offset-1">{{infoSelect.titre}}</span>
                                <fa-icon class="close col-1 text-right" [icon]="faXmark" (click)="close()"></fa-icon>
                            </div>
                            <div class="row px-4">
                                <div class="col-12 my-2">
                                    {{infoSelect.text}}
                                </div>
                               
                                <div *ngIf="this.infoSelect.document.length != 0">
                                    <hr class="mt-2">
                                    <div class="col-12 my-2 text-center fw-bold">
                                        <fa-icon class="pe-2" [icon]="faBook"></fa-icon> Documents associés <fa-icon class="ps-2" [icon]="faImage"></fa-icon>
                                    </div>
                                    <hr class="mb-2">
                                    <div *ngFor="let d of this.infoSelect.document; let i = index"  > 
                                        <div class="row mb-1">
                                            <div class="col">
                                                <fa-icon class="pe-2" [icon]="faCaretRight"></fa-icon> <a class="text-decoration-underline cursor">{{d.nomDocument}}</a>
                                            </div>
                                            
                                        </div> 
                                    </div>
                                </div>
                                 
                            </div>
                           

                            
                        </div>
                    </div>
            </ng-template> 
        </ng-template>
    </div>
    
  
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" attr.fill="{{colorToast}}"></rect></svg>
            <strong class="me-auto">{{typeToast}}</strong>
            <button (click)="closeToast()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{messageToast}}
        </div>
        </div>
    </div>
</div>




