table > tbody > tr:last-child > td {
    border :none;
}

.cursor-pointer {
    cursor: pointer;
}

.scrolltable {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.scrolltableform {
    max-height: 435px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

table th {
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250);  
}

table {
    background-color: rgb(254, 254, 254);
}

.close {
    font-size: 2rem;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    color: #ea0000;
    cursor: pointer;
  
}

.close:hover {
    transform: translate(0.5px, 0.5px) scale(1.05,1.05);
}