.rounded-top-right {
    border-bottom-right-radius: 0rem;
    border-left: none !important;
}
.rounded-top-left {
    border-bottom-left-radius: 0rem !important ;
    border-right: none !important;
}

table > tbody > tr:last-child > td {
    border :none;
}

.cursor-pointer {
    cursor: pointer;
}

.scrolltable {
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

table th {
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250);  
}

table {
    background-color: rgb(254, 254, 254);
}

.createDiv{
    height: 600px;
}

.uppercase {
    text-transform: uppercase;
}