<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xs-12 mt-4">
            <div class="input-group">
            <label class="input-group-text" for="searchObject">Recherche</label>
            <input class="form-control" type="text" placeholder="Identifiant" id="searchObject">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-xs-12 mt-5 order-2 order-lg-1">
            <ul class="list-group list-group-horizontal cursor-pointer">
                <li class="list-group-item col-6 text-center border rounded-top-left border-bottom-0" (click)="selectType(this.TypeObject.OR)" [ngClass]="{'bg-light': this.selectedType === this.TypeObject.OR}" >Type Objet Repere</li>
                <li class="list-group-item col-6 text-center border rounded-top-right border-bottom-0" (click)="selectType(this.TypeObject.O)" [ngClass]="{'bg-light': this.selectedType === this.TypeObject.O}" >Type Objet</li>
            </ul>
            <div class="col-12 py-3 bg-light border border-top-0">
                <div class="scrolltable cursor-pointer col-12 col-xl-10 offset-xl-1"> 
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th >Identifiant</th>
                            <th>Nom</th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="this.selectedType === this.TypeObject.OR; else afficheTypeObjet" >
                                <tr *ngFor="let typeOR of listeTypeOR" (click)="selectObject(typeOR.idTypeOR)" [ngClass]="{'table-active': typeOR.idTypeOR === this.idSelected}"> 
                                    <td class="col-2"> {{typeOR.idTypeOR}} </td>
                                    <td class="col-10"> {{typeOR.libelleTypeOR}} </td>
                                </tr>
                            </ng-container>
                            <ng-template #afficheTypeObjet>
                                <tr *ngFor="let typeO of listeTypeO" (click)="selectObject(typeO.idType)" [ngClass]="{'table-active': typeO.idType === this.idSelected}">
                                    <td class="col-6"> {{typeO.idType}} </td>
                                    <td class="col-6"> {{typeO.libelleType}} </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="!changesNow; else formType" class="col-lg-6 col-xs-12 mt-5 order-1 order-lg-2">
            <div class="row my-5">
                <button (click)="selectCreateType()" type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3 ">Créer un nouveau type</button>
            </div>
            <div (click)="selectModifyType()" *ngIf="this.idSelected !== ''" class="row my-5">
                <button type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3">Modifier le type</button>
            </div>
            <div (click)="deleteTypeObjet()" *ngIf="this.idSelected !== ''" class="row my-5">
                <button type="button" class="btn btn-lg btn-light col-12 col-lg-6 offset-lg-3">Supprimer le type</button>
            </div>
        </div>
        <ng-template #formType >
            <ng-container *ngIf="idSelected == ''; else modification">
                <div class="col-lg-5 col-xs-12 mt-5 offset-lg-1 order-1 order-lg-2">
                    <div class="row border rounded py-3 px-3">
                        <div class="me-5 text-center">
                            <p class="fs-3">Création </p>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="radio" value="OR" class="form-check-input" type="radio" name="inlineRadioOptions" id="OR" >
                                <label class="form-check-label" for="OR">Objet repère</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="radio" value="O" class="form-check-input" type="radio" name="inlineRadioOptions" id="O" >
                                <label class="form-check-label" for="O">Objet</label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="2" class="form-control uppercase" id="IdType" placeholder="">
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating">
                                <input #Libelle type="text" class="form-control" id="IdLibelle" placeholder="">
                                <label for="IdLibelle">Libelle</label>
                            </div>
                        </div>
                        <button (click)="createTypeObjet(Identifiant.value, Libelle.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Créer</button>
                    </div>
                </div>
            </ng-container>
            <ng-template #modification >
                <div class="col-lg-5 col-xs-12 mt-5 offset-lg-1 order-1 order-lg-2">
                    <div class="row border rounded py-3 px-3">
                        <div class="me-5 text-center">
                            <p class="fs-3">Modification</p>
                        </div>
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #ModifIdentifiant type="text" class="form-control" id="IdType" placeholder="" disabled readonly [value]="this.objectSelect.idTypeObjet">
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating">
                                <input #ModifLibelle type="text" class="form-control" id="IdLibelle" placeholder="" [value]="this.objectSelect.libelleTypeObjet">
                                <label for="IdLibelle">Libelle</label>
                            </div>
                        </div>
                        <button (click)="updateTypeObjet(ModifIdentifiant.value, ModifLibelle.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Modifier</button>
                    </div>
                </div>
            </ng-template> 
        </ng-template>
    </div>
    
  
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
        </div>
    </div>
    </div>
