.titleNav{
    font-family: 'Varela Round';
    font-size : 1.3rem;
    font-weight: 600;
}


.navbar-nav > li > a {
    font-family: 'Varela Round';
    font-size : 1.2rem;
    font-weight: 500;
}

.cursor{
    cursor: pointer;
 }

 a.active {
     font-weight:bold !important
 }

 li.active::before  {
    content: '';
    position: absolute;
    left: 30%;
    top: 95%;
    width: 0;
    height: 0;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    border-bottom: 18px solid white;
    clear: both;
    filter: drop-shadow(0px -4px 1px rgba(0,0,0,0.03));
 }