<div class="container-fluid px-5">
    <div class="row mt-3 px-5">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class=" row col-lg-5 col-12 mt-4 ">
                    <legend class="col-form-label col-3 col-lg-4 pt-0 align-self-center text-center">Objet</legend>
                    <div class ="col-9 col-lg-6">
                        <div class="form-check form-check">
                            <input (change)="selectObject(this.TypeObject.OR)" class="form-check-input" type="radio" name="inlineRadioOptions" id="OR" required checked>
                            <label class="form-check-label" for="OR">Objet repère</label>
                        </div>
                        <div class="form-check form-check">
                            <input (change)="selectObject(this.TypeObject.Item)" class="form-check-input" type="radio" name="inlineRadioOptions" id="Item" required>
                            <label class="form-check-label" for="Item">Item</label>
                        </div>
                        <div class="form-check form-check">
                            <input (change)="selectObject(this.TypeObject.SI)" class="form-check-input" type="radio" name="inlineRadioOptions" id="SI" required>
                            <label class="form-check-label" for="SI">Sous Item</label>
                        </div>
                        <div class="invalid-tooltip">
                            Veuillez renseigner un Type d'Objet.
                        </div>
                    </div>
                </div>
                <div class=" col-lg-7 col-12">
                    <div class="col-11 mt-5">
                        <div class="row ">
                            <div class="input-group">
                                <label class="input-group-text col-3 col-lg-2" for="atelierSelect">Atelier</label>
                                <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                                    <option value ="" selected>Sélectionner l'atelier</option>
                                    <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier">
                                        {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                                    </option>
                                </select>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0"> 
            <ng-container *ngIf="objectNow == 'OR'">
                <div class="col-lg-6 offset-lg-1 col-xs-12 mt-lg-5">
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheOR">
                                <td class="text-center" colspan="2">Aucun Sous Item</td>
                            </tr>
                            <ng-template #afficheOR>
                                <tr *ngFor="let OR of listeOR" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'actifNow' : OR.idObjetRepere === this.idORSelect }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
        

                <div class="col-12 col-lg-4 mt-5 px-lg-5 offset-lg-1 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Modification </span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #IdentifiantOR type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.orSelect.idObjetRepere" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input #LibelleOR type="text" maxlength="50" class="form-control" id="IdLibelle" placeholder="" required [value]="this.orSelect.libelleObjetRepere">
                                <label for="IdLibelle">Libelle</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un libellé.
                                </div>
                            </div>
                            <div *ngFor="let d of this.descriptionObjectSelect; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.descriptionObjectSelect[i].lien" #name="ngModel" name="lien{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <a class="text-dark cursor" (click)="addDescription()">Ajouter une description</a>
                            </div>
                            <div class="form-check ms-2">
                                <input #ValideOR class="form-check-input" type="checkbox" (change)="setcheckValide()" id="IdValide" [checked]="this.checkValide" >
                                <label class="form-check-label" for="IdValide">
                                Valide
                                </label>
                            </div>
                        </div>
                        <button *ngIf="this.idORSelect != ''" (click)="modifyObjet(LibelleOR.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Modifier</button>
                    </div>
                </div>
            </ng-container>

            <ng-container  *ngIf="objectNow == 'Item'">
                <div class="col-lg-4 px-lg-5 col-xs-12 mt-lg-5">
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheOrItem">
                                <td class="text-center" colspan="2">Aucun Sous Item</td>
                            </tr>
                            <ng-template #afficheOrItem>
                                <tr *ngFor="let OR of listeOR" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'actifNow' : OR.idObjetRepere === this.idORSelect }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 px-lg-5 col-12 mt-lg-5">
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">N° Séquentiel</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheItem">
                                <td class="text-center" colspan="2">Aucun Item</td>
                            </tr>
                            <ng-template #afficheItem>
                                <tr *ngFor="let item of listeItem"  (click)="selectItem(item.idItem)" [ngClass]="{'actifNow' : item.idItem === this.idItemSelect }" >
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-8">{{item.libelleItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="col-12 col-lg-4 mt-5 px-lg-5 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1">Modification</span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.itemSelect.idItem" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input #LibelleItem type="text" maxlength="50" class="form-control" id="IdLibelle" placeholder="" [value]="this.itemSelect.libelleItem" required>
                                <label for="IdLibelle">Libelle</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un libellé.
                                </div>
                            </div>
                            <div *ngFor="let d of this.descriptionObjectSelect; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.descriptionObjectSelect[i].lien" #name="ngModel" name="lien{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <a class="text-dark cursor" (click)="addDescription()">Ajouter une description</a>
                            </div>
                            <div class="form-check ms-2">
                                <input #ValideItem class="form-check-input" type="checkbox" (change)="setcheckValide()" id="IdValide" [checked]="this.checkValide" >
                                <label class="form-check-label" for="IdValide">
                                Valide
                                </label>
                            </div>
                        </div>
                        <button *ngIf="this.idItemSelect != ''" (click)="modifyItem(LibelleItem.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2"> Modifier </button>
                    </div>
                </div>
            </ng-container>
        </div>
        
    </div>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" attr.fill="{{colorToast}}"></rect></svg>
            <strong class="me-auto">{{typeToast}}</strong>
            <button (click)="closeToast()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{messageToast}}
        </div>
        </div>
    </div>
</div>