<div class="container-fluid">
    <div class="row mt-3 px-lg-5">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 col-xxl-2 col-xl-3 offset-lg-1 col-12">
                    <div class="input-group">
                        <div class="input-group-text col-3">Type</div>
                        <div class="btn-group-vertical col-9 margin-top1 d-none d-lg-block" aria-label="Type d'objet">
                            <input (change)="selectObject(this.TypeObject.OR)" type="radio" class="btn-check " name="typeObjetRadio" id="TypeOR" checked>
                            <label class="btn btn-outline-perso no-rounded-top-left" for="TypeOR">Objet repère</label>
                            <input (change)="selectObject(this.TypeObject.Item)" type="radio" class="btn-check" name="typeObjetRadio" id="TypeItem" >
                            <label class="btn btn-outline-perso" for="TypeItem">Item</label>
                            <input (change)="selectObject(this.TypeObject.SI)" type="radio" class="btn-check " name="typeObjetRadio" id="TypeSI" >
                            <label class="btn btn-outline-perso no-rounded-bottom-left" for="TypeSI"> Sous Item</label>
                        </div>
                        <div class="btn-group col-9 margin-top1 d-lg-none" aria-label="Type d'objet">
                            <input (change)="selectObject(this.TypeObject.OR)" type="radio" class="btn-check " name="typeObjetRadio" id="TypeOR" checked>
                            <label class="btn btn-outline-perso no-rounded-top-left no-rounded-bottom-left" for="TypeOR">Objet repère</label>
                            <input (change)="selectObject(this.TypeObject.Item)" type="radio" class="btn-check" name="typeObjetRadio" id="TypeItem" >
                            <label class="btn btn-outline-perso" for="TypeItem">Item</label>
                            <input (change)="selectObject(this.TypeObject.SI)" type="radio" class="btn-check " name="typeObjetRadio" id="TypeSI" >
                            <label class="btn btn-outline-perso" for="TypeSI"> Sous Item</label>
                        </div>
                    </div>
                </div>
                <div class=" offset-xl-1 col-xl-6 col-lg-6 col-xxl-3 col-12">
                    <div class="col-12 mt-3 mt-lg-2 ">
                        <div class="col-12 mt-1">
                                <div class="input-group">
                                    <label class="input-group-text " for="atelierSelect">Atelier</label>
                                    <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                                        <option value ="" selected>Sélectionner l'atelier</option>
                                        <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier" style="--bs-bg-opacity: .25;" [ngClass]="{'bg-secondary bg-gradient' : !atelier.actif}">
                                            {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                                        </option>
                                    </select>
                                </div> 
                        </div>
                        <div class="col-12 mt-3">
                                <div class="input-group">
                                    <label class="input-group-text " for="atelierSelect">Recherche</label>
                                    <input class="form-control" type="text" placeholder="Identifiant" id="search" [(ngModel)]="searchText">
                                </div> 
                        </div>
                        
                    </div>
                </div>
                <div class=" col-lg-3 col-12 ps-lg-4 ">
                    <div class="row">
                        <div class="col-12 mt-3 mt-lg-1">
                            <div *ngIf="this.objectNow === this.TypeObject.OR" class="input-group">
                                <label class="input-group-text " for="TypeObjetSelect">Type Objet</label>
                                <select (change)=selectTypeObjet($event) class="form-select" id="TypeObjetSelect" aria-label="Default select example" [(ngModel)]="typeNow">
                                    <option value="" selected>Sélectionner un type d'objet</option>
                                    <option *ngFor="let typeObjet of listeTypeItemOfOR" [value]="typeObjet.idTypeObjet">
                                        {{typeObjet.idTypeObjet}} - {{typeObjet.libelleTypeObjet}}
                                    </option>
                                </select>
                            </div>  
                            <div *ngIf="this.objectNow !== this.TypeObject.OR" class="input-group">
                                <label class="input-group-text " for="TypeObjetSelect">Type Objet</label>
                                <select (change)=selectTypeObjet($event) class="form-select" id="TypeObjetSelect" aria-label="Default select example" [(ngModel)]="typeNow">
                                    <option value ="" selected>Sélectionner un type d'objet</option>
                                    <option *ngFor="let typeObjet of listeTypeItemOfOR" [value]="typeObjet.idTypeObjet">
                                        {{typeObjet.idTypeObjet}} - {{typeObjet.libelleTypeObjet}}
                                    </option>
                                </select>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0"> 


            <ng-container *ngIf="objectNow == 'OR'">
                <div class="col-lg-6 offset-lg-1 col-xs-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheOR">
                                <td class="text-center" colspan="2">Aucun Objet repère</td>
                            </tr>
                            <ng-template #afficheOR>
                                <tr *ngFor="let OR of listeOR | filterModification : searchText:'OR' | filterType : typeNow:'OR'" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'actifNow' : OR.idObjetRepere === this.idORSelect }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
        

                <div class="col-12 col-lg-4 mt-5 px-lg-5 offset-lg-1 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Modification </span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #IdentifiantOR type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.orSelect.idObjetRepere" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input #LibelleOR type="text" maxlength="50" class="form-control" id="IdLibelle" placeholder="" required [value]="this.orSelect.libelleObjetRepere">
                                <label for="IdLibelle">Libelle</label>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un libellé.
                                </div>
                            </div>
                            <div *ngFor="let d of this.descriptionObjectSelect; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.descriptionObjectSelect[i].lien" #name="ngModel" name="lien{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <a class="text-dark cursor" (click)="addDescription()">Ajouter une description</a>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input [(ngModel)]="valide" (click)="selectValide(this.valideNow.A)" [ngClass]="{'border-danger' : valideError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio1" value="A" required>
                                <label [ngClass]="{'text-danger' : valideError}" class="form-check-label" for="inlineRadio1">Actif</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="valide" (click)="selectValide(this.valideNow.R)" [ngClass]="{'border-danger' : valideError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio2" value="R" required>
                                <label [ngClass]="{'text-danger' : valideError}" class="form-check-label" for="inlineRadio2">Reservé</label>
                            </div>
                        </div>
                        <button *ngIf="this.idORSelect != ''" (click)="modifyObjet(LibelleOR.value)" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Modifier</button>
                    </div>
                </div>
            </ng-container>

            <ng-container  *ngIf="objectNow == 'Item'">
                <div class="col-lg-4 px-lg-5 col-xs-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheOrItem">
                                <td class="text-center" colspan="2">Aucun Objet repère</td>
                            </tr>
                            <ng-template #afficheOrItem>
                                <tr *ngFor="let OR of listeOR | filterModification : searchText :'ItemOR'" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'table-active': OR.idObjetRepere === this.idORSelect, 'actifNow' : OR.idObjetRepere === this.selectedNow }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-4 px-lg-5 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheItem">
                                <td class="text-center" colspan="2">Aucun Item</td>
                            </tr>
                            <ng-template #afficheItem>
                                <tr *ngFor="let item of listeItem | filterModification : searchText : 'Item' | filterType : typeNow:'Item'"  (click)="selectItem(item.idItem)" [ngClass]="{'actifNow' : item.idItem === this.idItemSelect }" >
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-8">{{item.libelleItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="col-12 col-lg-4 mt-5 px-lg-5 needs-validation"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1">Modification</span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.itemSelect.idItem" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3 input-group">
                                <input [(ngModel)]="LibelleItem" type="text" maxlength="50" class="form-control zindexZero" id="IdLibelle" placeholder="" [value]="this.itemSelect.libelleItem"  (focusout)="focusOutLibelle()" required [ngClass]="{'box-error border border-danger': errorLibelle}">
                                <label for="IdLibelle">Libelle</label>
                                <button *ngIf="errorLibelle" class="input-group-text px-2 bg-white rounded-end" (click)="addingParentIdToCurrentLibelle()" ><fa-icon class=" text-right magicWand" [icon]="faMagicWandSparkles"></fa-icon></button>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un libellé.
                                </div>
                            </div>
                            <p *ngIf="errorLibelle" class="text-danger text-center py-0 my-1"> Requiert l'identifiant de l'objet repère</p>
                            <div *ngFor="let d of this.descriptionObjectSelect; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.descriptionObjectSelect[i].lien" #name="ngModel" name="lien{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <a class="text-dark cursor" (click)="addDescription()">Ajouter une description</a>
                            </div>
                            <div class="form-check form-check-inline ms-2">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.A)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio1" value="A" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio1">Actif</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.EA)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio2" value="EA" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio2">En attente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.HS)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio3" value="HS" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio3">Hors service</label>
                            </div>
                        </div>
                        <button *ngIf="this.idItemSelect != ''" (click)="modifyItem()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2"> Modifier </button>
                    </div>
                </div>
            </ng-container>



            <ng-container *ngIf="objectNow == 'SI'">
                <div class="col-lg-4 px-lg-5 col-xs-12 mt-lg-3 transitionOr " [ngClass]="{'col-lg-1 ps-lg-5' : this.orSelectedForItem , 'col-lg-4 px-lg-5' : !this.orSelectedForItem }">
                    <div class="row">
                        <caption class="col-12 text-center changeFont" [ngClass]="{'fs-6' : !this.orSelectedForItem , 'fs-7' : this.orSelectedForItem }" >Objet repère</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <ng-container *ngIf="!this.orSelectedForItem; else ReturnToOR ">
                                    <th (click)="(this.atelierSelect != '' && this.idORSelect != '' )? setOrSelectedForItem(true) : ''" class="col-4 text-center"  scope="col-4">
                                        <span [ngClass]="{'displayNameColumn' : !this.orSelectedForItem && this.idORSelect !='', 'nowrapColumn' : !this.orSelectedForItem && this.idORSelect !=''}">Identifiant</span>
                                    </th>
                                    <th (click)="(this.atelierSelect != '' && this.idORSelect != '' )? setOrSelectedForItem(true) : ''" class="col-8 text-center align-middle transitionOr" scope="col-8">
                                        <span [ngClass]="{'displayNameColumn' : !this.orSelectedForItem && this.idORSelect !='', 'nowrapColumn' : !this.orSelectedForItem && this.idORSelect !=''}">Libellé</span>
                                    </th>
                                </ng-container>
                                <ng-template #ReturnToOR>
                                    <th (click)="setOrSelectedForItem(false)" class="col-4 text-center transitionOr padding4" scope="col-3"><fa-icon class="fs-5 col-12 text-center " [icon]="faChevronRight"></fa-icon> </th>
                                </ng-template>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeOR.length === 0; else afficheSIOR">
                                <td class="text-center" colspan="2">Aucun Objet repère</td>
                            </tr>
                            <ng-template #afficheSIOR>
                                <tr *ngFor="let OR of listeOR | filterModification : searchText : 'SIOR'" (click)="selectOR(OR.idObjetRepere)" [ngClass]="{'selectObject': OR.idObjetRepere === this.idORSelect, 'actifNow' : OR.idObjetRepere === this.selectedNow }" >
                                    <td class="col-4">{{OR.idObjetRepere}}</td>
                                    <td *ngIf="!this.orSelectedForItem" [ngClass]="{'nowrapColumn' : !this.orSelectedForItem && this.idORSelect !=''}" class="col-8">{{OR.libelleObjetRepere}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-lg-3">
                    <div class="row">
                        <caption class="col-12 text-center" >Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle" scope="col-8">Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeItem.length === 0; else afficheSIItem">
                                <td class="text-center" colspan="2">Aucun Item</td>
                            </tr>
                            <ng-template #afficheSIItem>                                                                                       
                                <tr *ngFor="let item of listeItem | filterModification : searchText : 'SI'| filterType : typeNow :'Item'"  (click)="selectItem(item.idItem)" [ngClass]="{'selectObject': item.idItem == this.idItemSelect, 'actifNow' : item.idItem === this.selectedNow }" >
                                    <td class="col-4">{{item.idItem}}</td>
                                    <td class="col-8">{{item.libelleItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-12 mt-lg-3 transitionOr" [ngClass]="{'col-lg-4' : this.orSelectedForItem , 'col-lg-0' : !this.orSelectedForItem }">
                    <div class="row ">
                        <caption class="col-12 text-center nowrapColumn" [ngClass]="{'notDisplayNameColumn' : !this.orSelectedForItem && this.idORSelect !='', 'displayNameColumnShorter' : this.orSelectedForItem ,invisible : idORSelect == ''}">Sous Item</caption>
                    </div>
                    <div class="scrolltable"> 
                        <table class="table table-hover cursor ">
                            <thead>
                            <tr>
                                <th class="col-4 text-center nowrapColumn" scope="col-4">Identifiant</th>
                                <th class="col-8 text-center align-middle nowrapColumn" scope="col-8" >Libellé</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngIf="this.listeSousItem.length === 0; else afficheSISI">
                                <td class="text-center" colspan="2">Aucun Sous Item</td>
                            </tr>
                            <ng-template #afficheSISI>
                                <tr *ngFor="let sousItem of listeSousItem | filterModification : searchText : 'SI'"  (click)="selectSI(sousItem.idSousItem)" [ngClass]="{'selectObject': sousItem.idSousItem === this.idSISelect, 'actifNow' : sousItem.idSousItem === this.selectedNow }">
                                    <td class="col-5" [ngClass] ="{'nowrapColumn' : !this.orSelectedForItem && this.idORSelect !=''}">{{sousItem.idSousItem}}</td>
                                    <td class="col-7" [ngClass] ="{'nowrapColumn' : !this.orSelectedForItem && this.idORSelect !=''}">{{sousItem.libelleSousItem}}</td>
                                </tr>
                            </ng-template>
                            
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-12 col-lg-3 needs-validation mt-5"  [ngClass]="{'was-validated': formValidate === true}">
                    <div class="container-fluid border rounded shadow-sm py-2">
                        <div class="text-center row">
                            <span class="fs-3 col-10 offset-1 ">Modification </span>
                        </div>
                        
                        <div class="col-12 col-lg-10 offset-lg-1 my-3">
                            <div class="form-floating mb-3">
                                <input #Identifiant type="text" maxlength="6" class="form-control uppercase" id="IdType" placeholder="" required [value]="this.idSISelect" disabled readonly>
                                <label for="IdType">Identifiant</label>
                            </div>
                            <div class="form-floating mb-3 input-group" [ngClass]="{'mb-3': !errorLibelle}">
                                <input [(ngModel)]="LibelleSousItem" type="text" maxlength="50" class="form-control zindexZero" id="IdLibelle" placeholder="" [value]="this.siSelect.libelleSousItem" required (focusout)="focusOutLibelle()" [ngClass]="{'box-error border border-danger': errorLibelle}">
                                <label for="IdLibelle">Libelle</label>
                                <button *ngIf="errorLibelle" class="input-group-text px-2 bg-white rounded-end" (click)="addingParentIdToCurrentLibelle()" ><fa-icon class=" text-right magicWand" [icon]="faMagicWandSparkles"></fa-icon></button>
                                <div class="invalid-tooltip">
                                    Veuillez renseigner un libellé.
                                </div>
                            </div>
                             <p *ngIf="errorLibelle" class="text-danger text-center py-0 my-1"> Requiert l'identifiant de l'item</p>
                            <div *ngFor="let d of this.descriptionObjectSelect; let i = index"  > 
                                <div class="form-floating mb-3 input-group">
                                    <input  type="text" [(ngModel)]="this.descriptionObjectSelect[i].lien" #name="ngModel" name="lien{{i}}" class="form-control zindexZero"  placeholder="" >
                                    <label for="IdDescription{{i}}">Description</label>
                                    <button class="input-group-text px-2 bg-white" (click)="removeDescription(i)"><fa-icon class=" text-right close" [icon]="faXmark"></fa-icon></button>
                                </div>
                            </div> 
                            <div class="form-floating mb-3">
                                <a class="text-dark cursor" (click)="addDescription()">Ajouter une description</a>
                            </div>
                            
                            <div class="form-check form-check-inline ms-2">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.A)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio1" value="A" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio1">Actif</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.EA)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio2" value="EA" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio2">En attente</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input [(ngModel)]="etat" (click)="selectEtat(this.etatNow.HS)" [ngClass]="{'border-danger' : etatError}" class="form-check-input" type="radio" name="radioEtat" id="inlineRadio3" value="HS" required>
                                <label [ngClass]="{'text-danger' : etatError}" class="form-check-label" for="inlineRadio3">Hors service</label>
                            </div>
                           
                        </div>
                        <button *ngIf="this.atelierSelect != '' && this.idItemSelect != '' && this.idSISelect != '' " (click)="modifySI()" type="button" class="btn btn-lg btn-light col-10 offset-1 col-lg-6 offset-lg-3 my-2">Modifier</button>
                    </div>
                </div>


            </ng-container>


        </div>
        
    </div>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide"  data-bs-autohide="false" role="alert" data-bs-delay="10000" aria-live="assertive" aria-atomic="true" [ngClass]="ToastAffiche ? 'show' : 'hide'">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" attr.fill="{{colorToast}}"></rect></svg>
            <strong class="me-auto">{{typeToast}}</strong>
            <button (click)="closeToast()" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{messageToast}}
        </div>
        </div>
    </div>
</div>