<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-12 mt-4">
            <div class="input-group">
            <label class="input-group-text" for="atelierSelect">Atelier</label>
            <select (change)=selectAtelier($event) class="form-select" id="atelierSelect" aria-label="Default select example">
                <option value =-1 selected>Selection de l'atelier</option>
                <option *ngFor="let atelier of listeAtelier" [value]="atelier.idAtelier">
                    {{atelier.idAtelier}} - {{atelier.libelleAtelier}}
                </option>
            </select>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12 mt-4">
          <div class="input-group">
            <label class="input-group-text" for="search" >Recherche</label>
            <input class="form-control" type="text" placeholder="Identifiant" id="search" [(ngModel)]="searchText" >
            </div>
        </div>
        <div class="col-lg-2 col-6 mt-4 align-self-center">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="this.isValide" (click)="CheckIfORSelectedValide()">
            <label class="form-check-label" for="flexCheckDefault">
              Objet repère valide
            </label>
          </div>
        </div>
        <div *ngIf="this.objectTypeNow != TypeObjet.Aucun" class="col-lg-2 col-6 mt-4 text-end">
          <button data-bs-toggle="modal" data-bs-target="#History" type="button" (click)=getHistory(); class="btn btn-light"><fa-icon class="close col-1 text-right" [icon]="faHistory" ></fa-icon>  Historique</button>
        </div>
        
        
    </div>
    <div class="row mt-3 ">
        <div class="col-sm-12 col-lg-4 col-xxl-4 order-2 order-lg-1">
            <div class="row">
                <caption class="col-12 text-center">Objet repère</caption>
            </div>
                <div class="scrolltable">
                <table class="table table-hover table-fixed">
                    <thead>
                    <tr >
                        <th scope="col">Identifiant</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="this.listeObjetRepere.length === 0; else afficheOR">
                            <td class="text-center" colspan="2">Aucun Objet Repère</td>
                        </tr>
                        <ng-template #afficheOR>
                            <tr *ngFor="let objetRepere of listeObjetRepere | filterVisualisation : searchText | actifVisualisation : isValide" (click)="selectOR(objetRepere.idObjetRepere)" [ngClass]="{'table-active': objetRepere.idObjetRepere === this.selectedOr , 'actifNow' : objetRepere.idObjetRepere === this.selectedNow }">
                                <td class="col-5">{{objetRepere.idObjetRepere}}</td>
                                <td class="col-7">{{objetRepere.libelleObjetRepere}}</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
                </div>
        </div>

        <div class="col-sm-12 col-lg-4 col-xxl-4 order-3 order-lg-2">
            <div class="row">
                <caption class="col-12 text-center">Item</caption>
            </div>
            <div class="scrolltable"> 
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Identifiant</th>
                      <th scope="col">Nom</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="this.listeItem.length === 0; else afficheItem">
                      <td class="text-center" colspan="2">Aucun Item</td>
                    </tr>
                    <ng-template #afficheItem>
                      <tr *ngFor="let item of listeItem | filterVisualisation : searchText"  (click)="selectItem(item.idItem)" [ngClass]="{'table-active': item.idItem === this.selectedItem , 'actifNow' : item.idItem === this.selectedNow }" >
                          <td class="col-5">{{item.idItem}}</td>
                          <td class="col-7">{{item.libelleItem}}</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
            </div>
        </div>


        <div class="col-sm-12 col-lg-4 col-xxl-4 order-4 order-lg-3">
            <div class="row">
                <caption class="col-12 text-center" >Sous Item</caption>
            </div>
            <div class="scrolltable"> 
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Identifiant</th>
                      <th scope="col">Nom</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="this.listeSousItem.length === 0; else afficheSousItem">
                      <td class="text-center" colspan="2">Aucun Sous Item</td>
                    </tr>
                    <ng-template #afficheSousItem>
                      <tr *ngFor="let sousItem of listeSousItem | filterVisualisation : searchText "  (click)="selectSO(sousItem.idSousItem)" [ngClass]="{'table-active': sousItem.idSousItem === this.selectedSousItem, 'actifNow' : sousItem.idSousItem === this.selectedNow }">
                          <td class="col-5">{{sousItem.idSousItem}}</td>
                          <td class="col-7">{{sousItem.libelleSousItem}}</td>
                      </tr>
                    </ng-template>
                    
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-xxl-10 offset-xxl-1 mt-lg-5 mt-1 order-1 order-lg-4 border border-1 colorBorder rounded shadow-sm">
          <div class="row my-1">
            <ng-container *ngIf="selectedNow === ''; else displayInfo">
              <div class="col-12 my-5 text-center">
                Aucune information disponible
              </div>
            </ng-container>
            <ng-template #displayInfo >

              <ng-container *ngIf="objectTypeNow == 'OR'; else displayItem">
             
                <div class="col-lg-6 col-xs-12 px-3 ">
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Identifiant</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.idObjetRepere">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Libelle</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.libelleObjetRepere">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Valide</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.valide">
                    </div>
                  </div>
                  <div class="row">
                    <div class=" input-group">
                      <label class="col-4 col-form-label">Description</label>
                      <input class="form-control border-0 zindexZero" type="text" [value]="(Ornow.description.length === 0) ? 'Aucune description' : ((Ornow.description.length > 1)? Ornow.description.length + ' descriptions': Ornow.description.length + ' description' ) "  >
                      <button (click)="setdescriptionFromHistory(false)" *ngIf="Ornow.description.length !== 0" class="input-group-text px-2 py-0 fs-4 border-0 bg-white" data-bs-toggle="modal" data-bs-target="#descriptionModal"><fa-icon class=" text-right close" [icon]="faEye"></fa-icon></button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12 px-3">
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Profil Creation</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.profilCreation">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Date Creation</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.dateCreation">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Profil Modification</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.profilModification">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Date Modification</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="Ornow.dateModification">
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>

            <ng-template #displayItem >

              <ng-container *ngIf="objectTypeNow == 'Item'; else displaySI">
             
                <div class="col-lg-6 col-xs-12 px-3 ">
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Identifiant</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.idItem">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Libelle</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.libelleItem">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Actif</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.actif">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group">
                      <label class="col-4 col-form-label">Description</label>
                      <input class="form-control border-0 zindexZero" type="text" [value]="(ItemNow.description.length === 0) ? 'Aucune description' : ((ItemNow.description.length > 1)? ItemNow.description.length + ' descriptions': ItemNow.description.length + ' description' ) "  >
                      <button (click)="setdescriptionFromHistory(false)" *ngIf="ItemNow.description.length !== 0" class="input-group-text px-2 py-0 fs-4 border-0 bg-white" data-bs-toggle="modal" data-bs-target="#descriptionModal"><fa-icon class=" text-right close" [icon]="faEye"></fa-icon></button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12 px-3">
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Profil Creation</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.profilCreation">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Date Creation</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.dateCreation">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Profil Modification</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.profilModification">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Date Modification</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="ItemNow.dateModification">
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>

            <ng-template #displaySI >
                <div class="col-lg-6 col-xs-12 px-3 ">
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Identifiant</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.idSousItem">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Libelle</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.libelleSousItem">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Actif</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.actif">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group">
                      <label class="col-4 col-form-label">Description</label>
                      <input class="form-control border-0 zindexZero" type="text" [value]="(SousItemNow.description.length === 0) ? 'Aucune description' : ((SousItemNow.description.length > 1)? SousItemNow.description.length + ' descriptions': SousItemNow.description.length + ' description' ) "  >
                      <button (click)="setdescriptionFromHistory(false)" *ngIf="SousItemNow.description.length !== 0" class="input-group-text px-2 py-0 fs-4 border-0 bg-white" data-bs-toggle="modal" data-bs-target="#descriptionModal"><fa-icon class=" text-right close" [icon]="faEye"></fa-icon></button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12 px-3">
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Profil Creation</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.profilCreation">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Date Creation</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.dateCreation">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Profil Modification</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.profilModification">
                    </div>
                  </div>
                  <div class="row">
                    <label for="staticEmail" class="col-4 col-form-label">Date Modification</label>
                    <div class="col-8">
                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" [value]="SousItemNow.dateModification">
                    </div>
                  </div>
                </div>
            </ng-template>

          </div>
        </div>
    </div>
</div>
    <!-- Modal -->
<div class="modal fade" id="History" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Historique de {{this.selectedNow}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <ng-container *ngIf="objectTypeNow == 'OR'; else NgItemHistory">
          <ng-container *ngIf="this.ORHistory.length !=0; else NoHistory"> 
            <div *ngFor="let or of this.ORHistory" class="border-bottom" >
              <div class="container ">
                  <div class="row m-3 border border-2 rounded">
                    <div class="col">
                      <div class="row border-bottom border-1 justify-content-center p-1">
                        <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                          <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faCalendar" ></fa-icon> 
                          <span class="col-12 col-sm-10 lh-lg">{{or.date | date: 'dd/MM/yyyy'}}</span>
                        </div>
                        <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                          <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faClock" ></fa-icon> 
                          <span class="col-12 col-sm-10 lh-lg">{{or.date | date: 'HH:mm'}}</span>
                        </div>
                        <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                          <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faUser" ></fa-icon> 
                          <span class="col-12 col-sm-10 lh-lg">{{or.profilModification}}</span>
                        </div>
                      </div>
                      <div class="row m-3">
                        <div class="col-12 col-lg-5 col-xl-6 mb-3"> 
                          <div class=" input-group">
                            <label for="IdentifiantHistory" class="input-group-text col-4 col-lg-6">Identifiant</label>
                            <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="or.idObjetRepere">
                          </div>
                        </div>
                        <div class="col-12 col-lg-7 col-xl-6 mb-3">
                          <div class=" input-group">
                            <label for="IdentifiantHistory" class="input-group-text col-4">Libelle</label>
                            <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="or.libelleObjetRepere">
                          </div>
                        </div>
                        <div class="col-12 col-lg-5 col-xl-6 mb-3 ">
                          <div class=" input-group">
                            <label for="IdentifiantHistory" class="input-group-text col-4 col-lg-6">Valide</label>
                            <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="(or.valide)? 'Oui' : 'Non'">
                          </div>
                        </div>
                 
                        <div class=" col-12 col-lg-7 col-xl-6 mb-3 ">
                          <div class="input-group">
                            <label class="col-4 input-group-text col-form-label">Description</label>
                            <input readonly disabled class="form-control border bg-light zindexZero" type="text" [value]="(or.description.length === 0) ? 'Aucune description' : ((or.description.length > 1)? or.description.length + ' descriptions': or.description.length + ' description' ) "  >
                            <button (click)="setdescriptionFromHistory(true); setDescriptionHistory(or.idObjetRepere,or.date)" *ngIf="or.description.length !== 0" class="input-group-text px-2 border py-0 fs-4 bg-white" data-bs-toggle="modal" data-bs-target="#descriptionModal"><fa-icon class=" text-right close" [icon]="faEye"></fa-icon></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #NoHistory>
          <div class="container">
            <div class="row"> 
              <div class="col text-center">
                Aucun historique n'est disponible pour cet objet.
              </div>
            </div>
          </div>
        </ng-template>

        <ng-template #NgItemHistory>
          <ng-container  *ngIf="objectTypeNow == 'Item'; else NgSIHistory">
            <ng-container *ngIf="this.ItemHistory.length !=0; else NoHistory">
              <div *ngFor="let item of this.ItemHistory" class="border-bottom" >
                <div class="container ">
                    <div class="row m-3 border border-2 rounded">
                      <div class="col">
                        <div class="row border-bottom border-1 justify-content-center p-1">
                          <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                            <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faCalendar" ></fa-icon> 
                            <span class="col-12 col-sm-10 lh-lg">{{item.date | date: 'dd/MM/yyyy'}}</span>
                          </div>
                          <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                            <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faClock" ></fa-icon> 
                            <span class="col-12 col-sm-10 lh-lg">{{item.date | date: 'HH:mm'}}</span>
                          </div>
                          <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                            <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faUser" ></fa-icon> 
                            <span class="col-12 col-sm-10 lh-lg">{{item.profilModification}}</span>
                          </div>
                        </div>
                        <div class="row m-3">
                          <div class="col-12 col-lg-5 col-xl-6 mb-3"> 
                            <div class="input-group">
                              <label for="IdentifiantHistory" class="input-group-text col-4">Identifiant</label>
                              <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="item.idItem">
                            </div>
                          </div>
                          <div class="col-12 col-lg-7 col-xl-6 mb-3">
                            <div class="input-group">
                              <label for="IdentifiantHistory" class="input-group-text col-4">Libelle</label>
                              <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="item.libelleItem">
                            </div>
                          </div>
                          <div class="col-12 col-lg-5 col-xl-6 mb-3 ">
                            <div class="input-group">
                              <label for="IdentifiantHistory" class="input-group-text col-4">Actif</label>
                              <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="(item.actif)? 'Oui' : 'Non'">
                            </div>
                          </div>
                          <div class=" col-12 col-lg-7 col-xl-6 mb-3 ">
                            <div class="input-group">
                              <label class="col-4 input-group-text col-form-label">Description</label>
                              <input readonly disabled class="form-control border bg-light zindexZero" type="text" [value]="(item.description.length === 0) ? 'Aucune description' : ((item.description.length > 1)? item.description.length + ' descriptions': item.description.length + ' description' ) "  >
                              <button (click)="setdescriptionFromHistory(true); setDescriptionHistory(item.idItem,item.date)" *ngIf="item.description.length !== 0" class="input-group-text px-2 border py-0 fs-4 bg-white" data-bs-toggle="modal" data-bs-target="#descriptionModal"><fa-icon class=" text-right close" [icon]="faEye"></fa-icon></button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>

        <ng-template #NgSIHistory>
          <ng-container *ngIf="objectTypeNow == 'SI'; else NoHistory">
            <ng-container *ngIf="this.SIHistory.length !=0; else NoHistory">
              <div *ngFor="let si of this.SIHistory" class="border-bottom" >
                <div class="container ">
                    <div class="row m-3 border border-2 rounded">
                      <div class="col">
                        <div class="row border-bottom border-1 justify-content-center p-1">
                          <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                            <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faCalendar" ></fa-icon> 
                            <span class="col-12 col-sm-10 lh-lg">{{si.date | date: 'dd/MM/yyyy'}}</span>
                          </div>
                          <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                            <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faClock" ></fa-icon> 
                            <span class="col-12 col-sm-10 lh-lg">{{si.date | date: 'HH:mm'}}</span>
                          </div>
                          <div class="row col-4 col-lg-3 justify-content-center text-center text-lg-start">
                            <fa-icon class="fs-5 col-12 col-sm-2" [icon]="faUser" ></fa-icon> 
                            <span class="col-12 col-sm-10 lh-lg">{{si.profilModification}}</span>
                          </div>
                        </div>
                        <div class="row m-3">
                          <div class="col-12 col-lg-5 col-xl-6 mb-3"> 
                            <div class="input-group">
                              <label for="IdentifiantHistory" class="input-group-text col-4">Identifiant</label>
                              <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="si.idSousItem">
                            </div>
                          </div>
                          <div class="col-12 col-lg-7 col-xl-6 mb-3">
                            <div class="input-group">
                              <label for="IdentifiantHistory" class="input-group-text col-4">Libelle</label>
                              <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="si.libelleSousItem">
                            </div>
                          </div>
                          <div class="col-12 col-lg-5 col-xl-6 mb-3">
                            <div class="input-group">
                              <label for="IdentifiantHistory" class="input-group-text col-4">Actif</label>
                              <input type="text" readonly disabled class="form-control bg-light" id="IdentifiantHistory" [value]="(si.actif)? 'Oui' : 'Non'">
                            </div>
                          </div>
                          <div class=" col-12 col-lg-7 col-xl-6 mb-3 ">
                            <div class="input-group">
                              <label class="col-4 input-group-text col-form-label">Description</label>
                              <input readonly disabled class="form-control border bg-light zindexZero" type="text" [value]="(si.description.length === 0) ? 'Aucune description' : ((si.description.length > 1)? si.description.length + ' descriptions': si.description.length + ' description' ) "  >
                              <button (click)="setdescriptionFromHistory(true); setDescriptionHistory(si.idSousItem,si.date)" *ngIf="si.description.length !== 0" class="input-group-text px-2 border py-0 fs-4 bg-white" data-bs-toggle="modal" data-bs-target="#descriptionModal"><fa-icon class=" text-right close" [icon]="faEye"></fa-icon></button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollables">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="descriptionModal">Description(s) de {{this.selectedNow}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <ng-container *ngIf="!this.descriptionFromHistory">
            <ng-container *ngIf="this.objectTypeNow == TypeObjet.OR">
              <li *ngFor="let desc of this.Ornow.description" class="list-group-item">{{desc.lien}}</li>
            </ng-container>
            <ng-container *ngIf="this.objectTypeNow == TypeObjet.Item">
              <li *ngFor="let desc of this.ItemNow.description" class="list-group-item">{{desc.lien}}</li>
            </ng-container>
            <ng-container *ngIf="this.objectTypeNow == TypeObjet.SI">
              <li *ngFor="let desc of this.SousItemNow.description" class="list-group-item">{{desc.lien}}</li>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="this.descriptionFromHistory">
            <li *ngFor="let desc of this.descriptionHistory" class="list-group-item">{{desc.lien}}</li>
          </ng-container>
        </ul>
      </div>
      <div *ngIf="this.descriptionFromHistory" class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#History" data-bs-dismiss="modal">Retour</button>
      </div>
    </div>
  </div>
</div>
