table {
    cursor: pointer;
}

.scrolltable {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

table th {
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250);  
}

.table > :not(:first-child) {
    border-top : none;  
}

.actifNow{
    background-color :#0060a081 !important;
    color : #fff !important;
    font-weight: bold;
    padding:5px;
}
.actifNow:hover > td{
    background-color :#0060a081 !important;
    color : rgb(252, 253, 237) !important;
    font-weight: bold;
    letter-spacing: 0 !important;
}


.colorBorder{
    border-color: #0060a081 !important;
    border-width: 1px !important;
    box-shadow: 0 .010rem .25rem #0060a081 !important
}


.btn-check:active + .btn-outline-perso:focus, .btn-check:checked + .btn-outline-perso:focus, .btn-outline-perso.active:focus, .btn-outline-perso.dropdown-toggle.show:focus, .btn-outline-perso:active:focus {
    box-shadow: 0 0 0 .25rem rgba(33,37,41,.5);
  }

.btn-check:active + .btn-outline-perso, .btn-check:checked + .btn-outline-perso, .btn-outline-perso.active, .btn-outline-perso.dropdown-toggle.show, .btn-outline-perso:active {
    color: #000;
    background-color: #ebeff3;
    border-color: #ced4da;
}

.btn-check:checked:hover + .btn-outline-perso {
    color: #000;
    background-color: #e3e8ec;
    border-color: #ced4da;
}


.btn-check:focus + .btn-outline-perso, .btn-outline-perso:focus {
    box-shadow: 0 0 0 .25rem rgba(199, 202, 206, 0.5);
}

.btn-outline-perso:hover {
    color: #000;
    background-color: #ebeff3;
    border-color: #ced4da;
}

.btn-outline-perso {
    color: #212529;
    border-color: #ced4da;
}

.no-rounded-top-left{
    border-top-left-radius:0 !important
}

.no-rounded-bottom-left{
    border-bottom-left-radius:0 !important
}

.margin-top1{
    margin-top: 1px;
}

.fw-600{
    font-weight: 600;
}
