table {
    cursor: pointer;
}

.scrolltable {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.actifNow{
    background-color :#0060a081 !important;
    color : #fff !important;
    font-weight: bold;
    padding:5px;
}
.actifNow:hover > td{
    background-color :#0060a081 !important;
    color : rgb(252, 253, 237) !important;
    font-weight: bold;
    letter-spacing: 0 !important;
}

